@import "../../../../constants/variables.scss";

:host {
    width: 80vw;
    max-width: 100%;

    .mat-horizontal-content-container {
        overflow: unset;
    }
    .disableStepperHead {
        ::ng-deep .mat-horizontal-stepper-header{
            pointer-events: none !important;
          }
    }
}

img {
    width: 37%;
}