<div class="input-control" >
  <input [ngStyle]="{'color': theme.answers.color}" id= "{{question.id}}" [formControl]="inputControl" class="swipperForm_input" 
  [textMask]="{mask: mask, placeholderChar: '\u2000', keepCharPositions: true}" (keypress)="onPressEnter($event)" (keyup)="keyup()" type="text" placeholder="DD/MM/YYYY"
  (blur)="onBlur()" (focus)="setAsCurrent()" autofocus [required] = "question.required">
  <!-- <input type="tel" class="swipperForm_input" id="birthdate-numeric" ng-model="dob" placeholder="MM/DD/YYYY" autocomplete="off" required> -->
</div>
<div class="error-message" *ngIf="inputControl.hasError('required') && inputControl.dirty">
    <span *ngIf="isArabic">هذا الحقل مطلوب</span>
    <span *ngIf="!isArabic">Please fill this in</span>
</div>
<div class="error-message" *ngIf="inputControl.hasError('dateError')">
    <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
    <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
</div>
<div class="error-message" *ngIf="inputControl.hasError('between')">
    <span *ngIf="isArabic">ادخل تاريخ ما بين {{question.minDate | date: 'dd/MM/yyyy'}} و {{question.maxDate | date: 'dd/MM/yyyy'}}</span>
    <span *ngIf="!isArabic">Enter a date between {{question.minDate | date: 'dd/MM/yyyy'}} and {{question.maxDate | date: 'dd/MM/yyyy'}}</span>
</div>
<div class="error-message" *ngIf="inputControl.hasError('less')">
  <span *ngIf="isArabic">ادخل تاريخ بعد {{question.minDate | date: 'dd/MM/yyyy'}}</span>
  <span *ngIf="!isArabic">Enter a date after {{question.minDate | date: 'dd/MM/yyyy'}}</span>
</div>
<div class="error-message" *ngIf="inputControl.hasError('greater')">
  <span *ngIf="isArabic">ادخل تاريخ قبل {{question.maxDate | date: 'dd/MM/yyyy'}}</span>
  <span *ngIf="!isArabic">Enter a date before {{question.maxDate | date: 'dd/MM/yyyy'}}</span>
</div>
<irms-continue-button [isArabic]="isArabic" [theme]="theme.buttons" *ngIf="inputControl.valid && inputControl.dirty && !reviewMode" (next)="gotoNext()"></irms-continue-button>
