@import "../../../../../../../constants/variables.scss";
:host{
  height: 100%;
  overflow-x: hidden;
}
.tip {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.selectionBtn{
  font-size: 30px;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 30px;
}

mat-hint{
  margin-bottom:3vh;
}

.info-cont{
  width: 100%;
  background-color: rgba(42,200,184,.13);
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgba(201,201,201,.47);
}

.whatsapp{
  width: 50px !important;
  height: 50px !important;
}
.selection-icons {
  font-size: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.cont-icons{
  font-size: 30px;
}
.channelContainer{
  border: $theme-box-border;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.done {
  font-size: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
}