<h2 mat-dialog-title>Select fields for export</h2>

<mat-dialog-content class="menu">
  <h3><mat-checkbox (change)="onAllChange($event.checked)">Select All</mat-checkbox></h3>
  <form [formGroup]="importFieldsForm" class="form">
      
    <div class="block"
    gdColumns="auto auto auto">
        <mat-checkbox  formControlName="guestName" >Guest Name</mat-checkbox>  
        <mat-checkbox  formControlName="submissionDate">Submission Date</mat-checkbox>  
        <mat-checkbox *ngFor="let field of t.controls; index as i" [formControl]="field">{{qList[i].question}}</mat-checkbox>  
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="confirm()">Export</button>
</mat-dialog-actions>