<div class="main-area" [ngStyle]="{'background-image': image ? 'url('+image+')' : 'white'}">
    <div *ngIf="isLoading">{{message}}</div>
        <irms-form *ngIf="!isLoading" [mockup]="false" [formObj]="formFormatted.formContent"
        [themeObj]="formFormatted.formTheme"
        [settings]="formFormatted.formSettings" 
        (formSubmit)="submitData($event)"
        [saveLoading]="saveLoading"
        [allowReview]="isListAnalysis"></irms-form>
        <!-- <div *ngIf="step===0"> 
            <irms-rfi-page [isSinglePage] [page]="welcome" [theme]="theme" (nextPage)="nextPage()">
            </irms-rfi-page>
        </div>
        <div *ngIf="step===1">
            <irms-rfi-page-questions [questions]="questions" [theme]="theme"
            [answers]="answers">
            </irms-rfi-page-questions>
        </div>
        <div *ngIf="step===2"> 
            <irms-rfi-page [isSinglePage] [page]="submit" [theme]="theme" (nextPage)="submitData()" >
            </irms-rfi-page>
        </div>
        <div *ngIf="step===3">
            <irms-rfi-page [isSinglePage] [noNextPage]="true" [page]="thanks" [theme]="theme">
            </irms-rfi-page>
        </div> -->
</div>

