<div fxLayout="row" fxFlex>
    <div fxFlex="20">
        <h1 class="section-heading">Change Password</h1>
    </div>
    <div fxFlex="80" class="changePassBtn" fxLayoutAlign="start center" *ngIf="!isReset" [@animate]="{
        value: '*',
        params: { delay: '100ms', x: '-25px' }
    }">
        <div class="btn" fxLayoutAlign="space-around center">
            <button mat-button class="primary-button" (click)="resetToggle()">
                Change Password
            </button>
        </div>
    </div>
    <form fxFlex="80" fxLayout="column" fxLayoutAlign="start" [formGroup]="passChangeForm" *ngIf="isReset" [@animate]="{
        value: '*',
        params: { delay: '100ms', x: '-25px' }
    }">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="80">
                <input matInput autocomplete="new-password" formControlName="oldPassword" [type]="showPassword3.checked ? 'text' : 'password'"
                    placeholder="Password">
                <mat-button-toggle #showPassword3 matSuffix>
                    <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword3.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.oldPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="80">
                <input matInput autocomplete="new-password" formControlName="newPassword" [type]="showPassword3.checked ? 'text' : 'password'"
                    placeholder="New Password">
                <mat-button-toggle #showPassword3 matSuffix>
                    <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword3.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.newPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
                <mat-error *ngIf="passChangeForm.controls.newPassword.value.length < 8">
                    Password must be at least 8 characters long.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="80">
                <input matInput autocomplete="new-password" formControlName="confirmNewPassword" [type]="showPassword3.checked ? 'text' : 'password'"
                    placeholder="Confirm New Password">
                <mat-button-toggle #showPassword3 matSuffix>
                    <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword3.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.confirmNewPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
                <mat-error *ngIf="passChangeForm.controls.confirmNewPassword.value.length < 8">
                    Password must be at least 8 characters long.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
            fxFlex="100">
            <div class="btn">
                <button mat-button (click)="resetToggle()" class="secondary2-button">Cancel</button>
            </div>
            <div class="btn">
                <button mat-button class="primary-button" (click)="updatePassword()">
                    Update Password
                </button>
            </div>
        </div>
    </form>
</div>