@import "../../../../constants/variables.scss";

:host {
    width: 100%;
    height: 93vh;
    padding: 16px 6%;
}

.preview-area {
    border: $theme-box-border;
    background: $theme-white;
}

.noContent {
    img {
        width: 37%;
        margin-top: 51px;
    }
    .message {
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color: $primary-color;
    }
}