<div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" class="preview-area">
    <div fxLayout="row" fxLayoutAlign="center center" class="mobile-preview">
     <irms-messenger-preview *ngIf="templateData; else noContentMobile"></irms-messenger-preview>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="80" class="noValue value">-</div>
</ng-template>
<ng-template #noContentMobile>
    <div class="noContentMobile">
        <h2 class="message">No Content</h2>
        <img src="../../../../../assets/images/illustration_no_content.svg" alt="No content" />
    </div>
</ng-template>
