$dark: rgba(0, 0, 0, 0.87);
$grey-54: rgba(0, 0, 0, 0.54);
$grey-38: rgba(0, 0, 0, 0.38);
$grey-26: rgba(0, 0, 0, 0.26);
$grey-12: rgba(0, 0, 0, 0.12);

$primary-color: #353755;
$secondary-color: #E0E4EE;
$secondary-light-color: #eef0f5;
$accent-color: #2ac8b8;
$accent-transparent: rgba(42, 200, 184, 0.13);
$theme-border: rgba(221, 221, 221, 0.82) 1px solid;
$theme-box-border: $secondary-color 2px solid;
$theme-white: rgb(255, 255, 255);
$disable-color: rgb(228, 228, 228);
$disable-dark-color: rgb(173, 173, 173);
$warn-color: #e44343;
$accept-color: #76d865; 
$danger-color: #ffbb00;