<div id="form-designer">
    <!-- NAVBAR-->
    <irms-data-review-form-designer-nav-bar></irms-data-review-form-designer-nav-bar>
    <!-- / NAVBAR -->
  <div class="container" fusePerfectScrollbar
  [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
  <irms-data-review-form-builder></irms-data-review-form-builder>
  </div>
  </div>