@import "../../../../../../../constants/variables.scss";

.analysis-container {
    width: 97% !important;

    .table-container {
        overflow-x: scroll;
        overflow-y: visible;
        padding-bottom: 5px;
    // width: 300px;
    }
}

.actions{
    min-width:50px !important;
}

.chip1 {
    height: auto !important;
    margin: 10px 5px;
    border-width: 0 !important;
    color: $theme-white !important;
    border-radius: 25px !important;

    mat-icon {
        height: 30px;
        width: 30px;
    }

    &.warning {
        background: $danger-color !important;
    }

    &.error {
        background: $warn-color !important;
    }
}

.disabled {
    pointer-events: none;
}

cdk-virtual-scroll-viewport {
    height: calc(100vh - 455px) !important;
    width: 100%;
}
// th {
//     width: 73vw;
// }

.table {
  width: 100%;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
    transform: translateY(0px) !important;
  }

.contacts-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100vw;
    th {
        background-color: #DDEFEF;
        border: none;
        color: #336B6B;
        padding: 10px;
        text-align: center;
        text-shadow: 1px 1px 1px #fff;
        white-space: nowrap;
    }
    ::ng-deep tbody {
        max-height: 40vh;
        overflow: auto;
    }
    tbody td {
        border-bottom: solid 1px #DDEFEF;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
        white-space: nowrap;
    }
    .sticky {
        border-left: solid 1px #DDEFEF;
        border-right: solid 1px #DDEFEF;
        left: 0;
        position: absolute;
        top: auto;
    }
    .index-column {
        width: 35px !important;
        min-width: 35px !important;
    }
    .data-column {
        width: 30px !important;
        max-width: 140px;
        min-width: 140px;
    }
    th {
        background-color: $secondary-color !important;
        color: $primary-color !important;
        // display: table-row;
        // vertical-align: inherit;
        border-color: inherit;
        min-width: 160px;
    }
    th.mat-header-cell:first-of-type {
        max-width: 55px;
        min-width: 55px;
        width: 55px;

    }

    .input-wrapper {
        background-color: transparent !important;
        width: 100%;
        height: 33px;
        border-radius: 7px;
        border: $theme-box-border;
        border-color: transparent;
        padding: 5px;
        input {
            width: 100%;
            height: 100%;
            background-color: transparent !important;
            border-color: transparent;
            border-radius: 7px;
            &:focus {
                border-color: $accent-color !important;
            }
        }
        mat-select {
            &:focus {
                border-color: $accent-color !important;
            }
        }

        &:hover {
            border-color: rgb(194, 192, 192);
        }

        &.invalid {
            border-color: $warn-color !important;
        }

        &.warning {
            border-color: $danger-color !important;
        }
    }

    mat-select {
        &:focus {
            border-color: $accent-color !important;
        }

        &:hover {
            border-color: $secondary-color;
        }

        &.invalid {
            border-color: $warn-color !important;
        }

        &.warning {
            border-color: $danger-color !important;
        }
    }


    ::ng-deep .mat-column-actions {
        // flex: 0 0 45px !important;
        // width: 45px !important;
        // min-width: 45px !important;
        // height: 51px;
    }

    .index {
        color: $primary-color;
    }

    td.mat-cell:first-of-type,
    th.mat-header-cell:first-of-type {
        border-right: $theme-border;
    }

    td.mat-cell:last-of-type,th.mat-header-cell:last-of-type {
        border-left: $theme-border;
        // max-width: 31px;
        // min-width: 31px;
        // width: 31px;
        width: 91px!important;
        min-width: 91px!important;
        max-width: 91px!important;
    }

    .mat-cell {
        padding: 5px;
        text-align: center;
        max-width: 30px;
        width: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .duplicate {
        background: $warn-color !important;

        * {
            color: $theme-white !important;
        }

        input {
            color: $theme-white !important;
        }
    }
}
.table-wrapper {
    position: relative;
}

.info-container {
    // margin-bottom: 24px;
    width: 97%;


    .message-container {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        min-width: 50vw;

        .info-icon {
            margin: 0 16px;
        }

        .message-text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .message-text-header {
                font-weight: 600;
            }

            .message-text-body {
                margin-top: 8px;
                min-width: 30vw;
            }
        }
    }
}

.input-wrapper {
    position: relative;
    cursor: text;
}

.error-dot {
    position: absolute;
    right: 0;
    bottom: 0;

    mat-icon {
        color: $warn-color;
        font-size: 18px;
    }
}

.warning-dot {
    position: absolute;
    right: 0;
    bottom: 0;

    mat-icon {
        color: rgb(255, 208, 0);
        font-size: 18px;
    }
}

// ::ng-deep .tooltip-warn {
//     background: $warn-color !important;
//     color: $theme-white !important;
// }


.warning {
    background: $danger-color !important;
}

.error {
    background: $warn-color !important;
}

.editing {
    background: $theme-white !important;
    td {
        box-shadow: -10px 0 11px 0px rgba(255, 255, 255, 0.89), 10px 0 11px 0px rgba(255, 255, 255, 0.89), 0 3px 14px -1px rgba(100, 100, 100, 0.5), 0 -3px 14px -1px rgba(100, 100, 100, 0.5) !important;
        &.mat-table-sticky {
            z-index: 2 !important;
        }
    }
    .input-wrapper {
        border-color: rgb(194, 192, 192);
    }
    
}

.disable-scroll {
    overflow-y: hidden;
}

.missing {
    border: 2px solid $danger-color !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $danger-color;
}

.missingField {
    border-bottom: 1px solid $danger-color ;
}