<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row">
        <div fxFlex="70">
            <h2 class="step-heading">Import Analysis</h2>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" class="info-container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <!-- <div fxFlex="15" fxLayoutAlign="center center">
                    <button mat-button class="primary-button" (click)="goNext()" [irmsButtonLoader]="submitting">Collect
                        info</button>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group message-container">
                    <mat-icon class="info-icon">info</mat-icon>
                    <div class="message-text-wrapper">
                        <span class="message-text-header">Collect Missing Information</span>
                        <span class="message-text-body">Start a process of collecting missing information that are
                            important to your event by proceeding to the next step by click 'Next' button.</span>
                    </div>
                </div>
            </div>
            <div fxFlex="158px" fxLayout="row">
                <!-- <div class="chip1 error" *ngIf="isValidated"
                    [matTooltip]="errors > 0 ?'You have ' + errors +' records with ' + fieldsErrors + ' errors.':'You do not have any errors.'">
                    <mat-icon svgIcon="contact_error"></mat-icon> {{errors}}
                </div> -->
                <div class="chip1 warning" *ngIf="isValidated"
                    [matTooltip]="missing > 0 ? 'You have ' + missing + ' records missing ' + fieldsMissing + ' fields.':'All your fields are completed'">
                    <mat-icon svgIcon="contact_warning"></mat-icon> {{missing}}
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" class="analysis-container">
        <mat-paginator [ngClass]="{'disabled':contactEditMode}" [length]="totalCount"
            [pageSize]="guestListPage.pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="guestListPage.pageNo - 1"
            (page)="changePagination($event)">
        </mat-paginator>
        <div class="table-container">
            <form [formGroup]="importAnalysisForm">
                <cdk-virtual-scroll-viewport #scroll_list [ngClass]="{'disable-scroll': contactEditMode }"
                    [itemSize]="rowHeight">
                    <table *ngIf="!loadingContacts; else loading" class="table" mat-table [dataSource]="dataSource"
                        [multiTemplateDataRows]="true" class="contacts-table">
                        <ng-container *ngFor="let col of displayedColumns; index as i" [matColumnDef]="col"
                            [sticky]="col === '#' ? true : false" [stickyEnd]="col === 'actions' ? true : false">
                            <th mat-header-cell *matHeaderCellDef irmsTextOverflow>{{(col == 'actions') ? '' : col}}
                                <span *ngIf="requiredFieldsinHeader[col]" class="required">*</span>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- Non-Editable Begins-->
                                <div *ngIf="!element.editing && col != '#' && col != 'actions'"
                                    [ngClass]="{'missingField': element[col] === '' || element[col] == null}">
                                    <!-- Reserved Fields -->
                                    <div *ngIf="customFieldsHeaderNames?.indexOf(col) < 0">
                                        <div *ngIf="col != '#' && col != 'actions' && col !='gender' && col != 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && !element.editing"
                                            class="input-wrapper" irmsTextOverflow (click)="editContact(element['#'])">
                                            {{col != 'expirationDate'? (element[col]) : (element[col] |
                                            date:'dd/MM/yyyy')}}
                                        </div>
                                        <!-- Nationality -->
                                        <div *ngIf="col != '#' && col != 'actions' && col != 'gender' && col == 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && !element.editing"
                                            class="input-wrapper" irmsTextOverflow (click)="editContact(element['#'])">
                                            {{element[col] ? getNat(element[col]): ''}}
                                        </div>
                                        <!-- Issuing Country -->
                                        <div *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col == 'issuingCountryId' && !element.editing"
                                            class="input-wrapper" irmsTextOverflow (click)="editContact(element['#'])">
                                            {{element[col] ? getCountry(element[col]): ''}}
                                        </div>
                                        <!-- Gender -->
                                        <div *ngIf="col != '#' && col != 'actions' && col == 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && !element.editing"
                                            class="input-wrapper" irmsTextOverflow (click)="editContact(element['#'])">
                                            {{element[col] == 0 ? 'Male': element[col]==1 ? 'Female' : null}}
                                        </div>
                                        <!-- Document Type -->
                                        <div *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col != 'issuingCountryId' && col == 'documentTypeId' && !element.editing"
                                            class="input-wrapper" irmsTextOverflow (click)="editContact(element['#'])">
                                            {{element[col] ? getDoc(element[col]): ''}}
                                        </div>
                                    </div>
                                    <!-- Custom Fields -->
                                    <div *ngIf="customFieldsHeaderNames?.indexOf(col) > -1">
                                        <div *ngIf="col != '#' && col != 'actions'" class="input-wrapper"
                                            irmsTextOverflow (click)="editContact(element['#'])">
                                            {{customFieldsinHeader[customFieldsHeaderNames.indexOf(col)].customFieldType
                                            != 2 ? (element[col]) : (element[col] | date:'dd/MM/yyyy')}}
                                        </div>
                                    </div>

                                </div>
                                <!-- Non-edtiable Ends -->

                                <!-- Editable Begins -->
                                <div *ngIf="element.editing">
                                    <!-- Reserved Fields -->
                                    <div *ngIf="customFieldsHeaderNames?.indexOf(col) < 0">
                                        <div *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && col != 'expirationDate' &&  element.editing"
                                            class="input-wrapper" [ngClass]="{'disabled':disabled.indexOf(col) > -1}">
                                            <input [id]="col+'_'+element['#']" irmsTextOverflow type="text"
                                                [formControl]="contactsArray.get(element['#']-1+'.'+col)"
                                                [ngClass]="{'invalid' : contactsArray.get(element['#']-1+'.'+col)?.invalid}"
                                                [disabled]="disabled.indexOf(col) > -1">
                                            <span *ngIf="contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                                class="error-dot"
                                                [matTooltip]="getErrorTooltipMessage(contactsArray.get(element['#']-1+'.'+col),col)"
                                                [matTooltipDisabled]="!contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                                [matTooltipClass]="'tooltip-error'">
                                                <mat-icon>error</mat-icon>
                                            </span>
                                        </div>
                                        <!-- Gender -->
                                        <div class="input-wrapper"
                                            *ngIf="col != '#' && col != 'actions' && col == 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && col != 'expirationDate' && element.editing">
                                            <mat-select [formControl]="contactsArray.get(element['#']-1+'.'+col)">
                                                <mat-option [value]="null">
                                                </mat-option>
                                                <mat-option [value]="0">
                                                    Male
                                                </mat-option>
                                                <mat-option [value]="1">
                                                    Female
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                        <!-- Nationality -->
                                        <div class="input-wrapper"
                                            *ngIf="col != '#' && col != 'actions' && col != 'gender' && col == 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && col != 'expirationDate' && element.editing">
                                            <mat-select [formControl]="contactsArray.get(element['#']-1+'.'+col)">
                                                <irms-mat-select-search-ext [formControl]="nationalitySearchControl">
                                                </irms-mat-select-search-ext>
                                                <mat-option
                                                    *ngFor="let nationality of nationalities | filter : nationalitySearchControl.value"
                                                    [value]="nationality.id">
                                                    {{nationality.nationality}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                        <!-- Issuing Country -->
                                        <div class="input-wrapper"
                                            *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col == 'issuingCountryId' && col != 'expirationDate' && element.editing">
                                            <mat-select [formControl]="contactsArray.get(element['#']-1+'.'+col)">
                                                <irms-mat-select-search-ext
                                                    [formControl]="issuingCountriesSearchControl">
                                                </irms-mat-select-search-ext>
                                                <mat-option
                                                    *ngFor="let country of issuingCountries | filter : issuingCountriesSearchControl.value"
                                                    [value]="country.id">
                                                    {{country.value}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                        <!-- Document Type -->
                                        <div class="input-wrapper"
                                            *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col == 'documentTypeId' && col != 'issuingCountryId' && col != 'expirationDate' && element.editing">
                                            <mat-select [formControl]="contactsArray.get(element['#']-1+'.'+col)">
                                                <irms-mat-select-search-ext [formControl]="documentTypesSearchControl">
                                                </irms-mat-select-search-ext>
                                                <mat-option
                                                    *ngFor="let doc of documentTypes | filter : documentTypesSearchControl.value"
                                                    [value]="doc.id">
                                                    {{doc.name}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                        <!-- Expiration Date -->
                                        <div class="input-wrapper"
                                            *ngIf="col != '#' && col != 'actions' && col != 'gender' && col != 'nationalityId' && col != 'documentTypeId' && col != 'issuingCountryId' && col == 'expirationDate' && element.editing">
                                            <input matInput [owlDateTimeTrigger]="dtTrigger" [owlDateTime]="dtTrigger"
                                                [formControl]="contactsArray.get(element['#']-1+'.'+col)"
                                                autocomplete="off" />
                                            <span *ngIf="contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                                class="error-dot"
                                                [matTooltip]="contactsArray.get(element['#']-1+'.'+col)?.hasError('required') ? 'Missing '+ col : 'Invalid '+ col"
                                                [matTooltipDisabled]="!contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                                [matTooltipClass]="'tooltip-error'">
                                                <mat-icon>error</mat-icon>
                                            </span>
                                            <owl-date-time [pickerType]="'calendar'" #dtTrigger></owl-date-time>
                                        </div>
                                        <div *ngIf="col == 'actions' && element.editing" class="actions">
                                            <button mat-icon-button (click)="discardContactChanges(element['#'])">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="saveContactChanges(element['#'])"
                                                [disabled]="!getValid(element['#'])">
                                                <mat-icon>save</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Custom Fields -->
                                    <div class="input-wrapper" *ngIf="customFieldsHeaderNames?.indexOf(col) > -1">
                                        <!-- Date Custome Fields -->
                                        <input [owlDateTimeTrigger]="dt12end"
                                            [min]="getDate(customFieldsinHeader[customFieldsHeaderNames.indexOf(col)]?.minValue)"
                                            [max]="getDate(customFieldsinHeader[customFieldsHeaderNames.indexOf(col)]?.maxValue)"
                                            *ngIf="customFieldsinHeader[customFieldsHeaderNames.indexOf(col)].customFieldType == 2"
                                            [ngClass]="{'warning' : !contactsArray.get(element['#']-1+'.'+col)?.value ,'invalid': !contactsArray.get(element['#']-1+'.'+col).valid}"
                                            [id]="col+'_'+i" irmsTextOverflow
                                            [formControl]="contactsArray.get(element['#']-1+'.'+col)"
                                            [owlDateTime]="dt12end" autocomplete="off">
                                        <owl-date-time [pickerType]="'calendar'" #dt12end></owl-date-time>
                                        <!-- For Custom Fields Except Dates -->
                                        <input
                                            *ngIf="customFieldsinHeader[customFieldsHeaderNames.indexOf(col)].customFieldType != 2"
                                            [ngClass]="{'warning' : !contactsArray.get(element['#']-1+'.'+col)?.value ,'invalid': !contactsArray.get(element['#']-1+'.'+col).valid}"
                                            [id]="col+'_'+i" irmsTextOverflow type="text"
                                            [formControl]="contactsArray.get(element['#']-1+'.'+col)">
                                        <span *ngIf="contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                            class="error-dot"
                                            [matTooltip]="contactsArray.get(element['#']-1+'.'+col)?.hasError('required') ? 'Missing '+ col : 'Invalid '+ col"
                                            [matTooltipDisabled]="!contactsArray.get(element['#']-1+'.'+col)?.invalid"
                                            [matTooltipClass]="'tooltip-error'">
                                            <mat-icon>error</mat-icon>
                                        </span>
                                    </div>
                                </div>

                                <div *ngIf="col == '#'" fxLayout="row" fxLayoutAlign="center center">
                                    <span
                                        [ngClass]="{'missing' : missingGuests.length > 0 && missingGuests.indexOf(element['id']) > -1 }">
                                        <span>{{element[col]}}</span>
                                    </span>
                                </div>

                                <!-- <span *ngIf="col === '#'">
                                {{i+1}}
                                </span>  -->
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                        <!-- cdkVirtualScrollViewport uses transform: translateY to correct for all elements that are removed. 
                        Using a plcaholder row in the table instead because the translate causes problems with the sticky header -->
                        <tr [style.height.px]="placeholderHeight" mat-row
                            *matRowDef="let row; let index = index; columns: []; when: placeholderWhen"></tr>

                        <!-- 'warning' : row.isMissing, -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"
                            [ngClass]="{'error': row.isError ,  'editing': row.editing }">
                        </tr>
                    </table>
                </cdk-virtual-scroll-viewport>
            </form>

        </div>
        <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
            <div class="btn">
                <button mat-button (click)="cancel()" class="secondary2-button" #cancel2>Exit</button>
                <!-- Add this to button if you want exit to go back to the list's page [routerLink]="['../']" -->
                <button mat-button [irmsButtonLoader]="isBack" (click)="goBack()" [disabled]="isNext" class="secondary-button" #cancel2 >Back</button>
            </div>
            <div class="btn">
                <button mat-button class="primary-button" [irmsButtonLoader]="isNext" (click)="goNext()" [disabled]="contactEditMode || isBack">Next</button>
            </div>
        </div>
    </div>

</div>
<ng-template #loading>
    <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
</ng-template>