@import "../../../../constants/variables.scss";
:host {
    width: 100%;
    height: 100%;
}
.tags-area {
  min-height: 325px;
  max-height: 325px;
  overflow-y: auto;
}
.tags-section {
    margin-block-end: 16px;
    margin-block-start: 16px;
    padding: 16px;
    border: $theme-box-border;
    background-color: $theme-white;
}
::ng-deep textarea.mat-input-element.cdk-textarea-autosize {
    resize: none;
    height: 250px !important;
}
.chips {
    height: 97px;
    // width: 80vw;
    overflow-y: scroll;
    .chip2 {
        margin: 5px;
        list-style: none;
      &:hover, &.selected {
        cursor: pointer;
      }
    }
  }

  ::ng-deep .mat-form-field-appearance-standard{ 
    .mat-form-field-wrapper {
      // padding-bottom: 0;
      .mat-form-field-flex {
        padding-top: 0;
        .mat-form-field-infix {
          border-top: none;
        }
      }
    }
  }

  .editor-controls-aux {
    width: 100%;
    position: absolute;
    bottom: 0;    
    padding: 0px 8px;
    z-index: 10
  }

  .editor-wrapper {
    position: relative;
    height: 300px;
  }

  .info-tip {
    margin-top: 7px;
  }