<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="smsForm" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay: '400ms', y:'100%'}}">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
            <div fxLayout="row" fxLayoutAlign="start center">
                <span fxFlex="20">From</span>
                <mat-form-field fxFlex [appearance]="'standard'">
                    <mat-select [formControl]="smsForm.controls['sender']" [required]="true">
                        <mat-option *ngFor="let sender of senders" [value]="sender.id">
                            {{sender.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <irms-input-error [fieldLabel]="'To'" [inputControl]="smsForm.controls['toName']" [appearance]="'standard'"
                [readonly]="true" [sideLabel]="true">
            </irms-input-error>
            <div class="editor-wrapper">
                <irms-textarea-error [fieldLabel]="'Content'" [inputControl]="smsForm.controls['smsContent']"
                    [errorRangeText]="'Content must be greater than 2 and lesser than 320 symbols'" [required]="true"
                    [maxRows]="8" [minRows]="1" fxFlex="100" (curPos)="updateCurrentCursor($event)">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="editor-controls-aux">
                        <button mat-flat-button class="primary-button landing-btn" *ngIf="isLanding"
                            (click)="landingSms()"><span class="landing-btn">
                                <mat-icon>brush</mat-icon>Design Landing Pages
                            </span></button>
                        <button mat-icon-button class="" [matMenuTriggerFor]="tagsMenu" #trigger="matMenuTrigger">
                            <mat-icon svgIcon="placeholder"></mat-icon>
                        </button>
                    </div>
                </irms-textarea-error>
            </div>
            <div *ngIf="!smsForm.controls['smsContent'].hasError('required') && containsTags" class="info-tip" fxLayout="row" [@animate]="{value:'*',params:{delay:'800ms', duration:'600ms',y:'100px'}}">
                <div class="info-text" ngNonBindable>
                    Replace <span class="text-bold">DEFAULT VALUE</span> with a word or a phrase that will be used when the guest's variable data is unavailable.
                    <br>If you don't want to use a default value, simply delete it leaving only the tag: e.g. {{full_name}}
                </div>
            </div>
        </div>
    </div>
    <mat-menu #tagsMenu="matMenu" xPosition="after" yPosition="below" (mouseleave)="trigger.closeMenu()">
        <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="center center" (click)="$event.stopPropagation();">
                <irms-generic-search-bar fxFlex="98" [searchPlaceholder]="'Search for tags'" [emitQuery]="true"
                    (searchText)="searchTags($event)">
                </irms-generic-search-bar>
            </div>
            <div class="tags-area">
                <button mat-menu-item *ngFor="let tag of tags | filterKeyword : tagSearchKeyword"
                    (click)="addTag(tag.value)">
                    <div>{{tag.label}}</div>
                </button>
            </div>
        </div>
    </mat-menu>
    <!-- <div fxLayout="row" fxLayoutAlign="start start" class="tags-section">
        <div fxLayout="column" fxFlex="100">
            <h1 class="text-bold">Tags</h1>
            <mat-hint ngNonBindable>
                Tags allow you to easily add information stored as custom fields to your message content. For contacts
                with no data in a custom field, the tag will be blank.
                <br>To use a default value instead, use the following format: <span
                    class="text-bold">{{full_name | Valued Guest}}</span>
            </mat-hint>
            <div fxLayout="row">
                <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for tags'" [emitQuery]="true"
                    (searchText)="searchTags($event)">
                </irms-generic-search-bar>
            </div>            
            <div class="tags-area" fxLayout="row">
                <div class="chips" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                    <div class="chip2" [@animate]="{value:'*',params:{y:'100%'}}"
                     *ngFor="let tag of tags | filterKeyword : tagSearchKeyword" (click)="addTag(tag.value)">
                      <div>{{tag.label}}</div>
                    </div>
                  </div>
            </div>
        </div>
    </div> -->
</form>