@import "../../../../../../constants/variables.scss";
.list-container {
    height: 500px;
    border: $theme-box-border;
    margin-inline-end: 12px;
    border-radius: 6px;
    &:hover {
        border-color: $accent-color !important;
        .header {
            border-color: $accent-color !important;
        }
    }
    .header {
        flex-shrink: 0;
        position: relative;
        padding: 10px 24px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.12);
        .mat-mini-fab {
            box-shadow: none;
            &:hover {
                box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
            }
        }
        .add-button {
            background-color: $accent-color;
            color: $theme-white;
        }
        .mat-checkbox {
            margin: 0 10px 0 0 !important;
            flex: unset !important;
            max-width: unset !important;

            & ::ng-deep .mat-checkbox-layout {
                position: relative;
                margin-top: -5px;
            }
        }
    }
    .list-content {
        overflow: scroll;
    }

    irms-contacts-grouped-list {

        &::ng-deep mat-expansion-panel {
            box-shadow: none;
        }
    }
}
.button-row {
    margin-block-end: 10px;
}
:host {
    height: 100%;
}

:host irms-contacts-grouped-list {
    &::ng-deep mat-accordion {

        &::ng-deep mat-expansion-panel {
            margin-bottom: 0 !important;

            .mat-expansion-panel-content {

                .mat-expansion-panel-body {

                    & irms-generic-list {

                        .selection-list {

                            & div[fxflex="90"] {
                                max-height: unset !important;
                            }

                            & div[fuseperfectscrollbar] {
                                max-width: 100% !important;
                            }

                            & .ps__rail-y {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.count {
    margin-inline-end: 5px;
}
.list-title {
    text-align: left;
}
.import-controls {
    button {
        margin-bottom: 15px !important;
    }
}
.noSelected {
    color: $accent-color !important;
    width: 100%;
}
.select-list-trigger {
    height: 63px;
    margin-bottom: 21px;
    margin-inline-end: 0px !important;
    padding: 5px 8px;
    span {
        color: $primary-color;
        width: 100%;
    }
}
::ng-deep .select-list-dropdown {
    max-width: 40vw !important;
    min-width: 40vw;
    width: 40vw;
    overflow-x: hidden;
    min-height: 65vh;
}

.buttons-wrapper {
    padding-top: 5px !important;
    padding-right: 0 !important;
    margin-bottom: 10px !important;
}

.import-container {
    & .import-from {

        & .list-container {

            & .list-content.custom-wrapper {
                height: 100%;
                
                & irms-contacts-grouped-list {
                    height: inherit;
                
                    ::ng-deep irms-empty-list-message {
                        
                        &.custom-grouped-list-wrapper {
                            ::ng-deep > div {
                                height: 100%;
                        
                                & .list-empty.relative {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: center;
                            
                                    & .svg.portrait {
                                        height: 87%;
                                        width: auto;
                                        left: 0;
                                        bottom: 0;

                                        & svg {
                                            height: inherit;
                                            left: 0;
                                            top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    
                    }
    
                }
            }
        }
    }
}

.contacts-list {

    &.list-content {
        height: calc(100% - 76px);

        irms-generic-list {
            height: 100%;
            width: 100%;

            &::ng-deep .generic-list {
                height: 100%;

                .selection-list {
                    height: 100%;

                    & > div {
                        height: 100%;
                        max-height: unset !important;

                        & > div[fuseperfectscrollbar] {
                            max-width: 100% !important;
                        }

                        div[fuseperfectscrollbar] {
                            max-width: unset !important;
                            height: 100%;
                            max-width: unset;
                            width: 100%;

                            .empty-list  {
                                height: 100%;
                                margin: 0;

                                irms-empty-list-message {

                                    &::ng-deep {

                                        & > div {
                                            height: 100%;

                                            & .list-empty {
                                                height: 100%;

                                                & .svg {
                                                    width: 50%;
                                                    height: auto;
                                                    position: static;

                                                    & > svg {
                                                        width: 100%;
                                                        height: auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.selected-list-title {
    font-size: 14px;
    margin-left: -7px;
}

.round-button {
    margin-inline-end: 0px !important;
}
.uniqueName {
    margin-top: -30px;
}

.labelError{
     color: $warn-color;
 }



::ng-deep .hasError.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: $warn-color !important;
    opacity: 0.8!important;
    ::ng-deep mat-label{
        color:$warn-color !important;
    }
}