<div *ngIf="!file" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <mat-icon>cloud_upload</mat-icon>
    <p>{{label}}</p>
    <span>Max {{maxFileSize}}MB</span>
    <input [id] = "id" hidden type="file" #fileInput (change)="uploadFile($event.target.files)" [accept]="fileTypes">
  </div>
<div class="uploadfilecontainer files" *ngIf="file">
    <div class="file-icon">
        <mat-icon>insert_drive_file</mat-icon>
        <button class="delete-file" (click)="deleteAttachment()">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <p>{{ fileName }}</p>
</div>
<mat-error *ngIf="inputControl.hasError('required') && inputControl.touched">
    Please select a file
</mat-error>