<form [formGroup]="configForm" fxLayout="column" fxLayoutAlign="start" #formRef="ngForm">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>1</span></div>
        <div fxFlex="74">
            <h3>What is the name of this campaign?</h3>
            <irms-input-error [fieldLabel]="'Campaign name'" [inputControl]="configForm.controls['name']"
                [disabled]="true" [errorRangeText]="'Campaign name must be between 2 and 200 characters.'"
                [charactersCount]="200" [required]="true" *ngIf="isDataLoaded ; else loading">
            </irms-input-error>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>2</span></div>
        <div fxFlex="74">
            <h3> When will your contacts enter the campaign?</h3>
            <h3>ENTRY CRITERIA <span class="required">*</span></h3>
            <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group" fxFill>
                <mat-select [formControl]="configForm.controls['entryCriteriaTypeId']" disabled appearance="outline"
                    fxFlex="50">
                    <mat-option *ngFor="let criteria of entryCriteria" [value]="criteria.key">
                        {{criteria.value}}
                    </mat-option>
                </mat-select>
                <mat-select appearance="outline" fxFlex="50" [formControl]="configForm.controls['guestListId']"
                    disabled>
                    <mat-option *ngFor="let guestList of guestListName" [value]="guestList.key">
                        {{guestList.value}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>3</span></div>
        <div>
            <h3>When will your contacts leave this campaign?</h3>
            <h3>EXIT CRITERIA <span class="required">*</span></h3>
            <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group">
                <mat-radio-group aria-label="attendees" [formControl]="configForm.controls['exitCriteriaType']" required
                    disabled fxLayout="column" fxLayoutAlign="start" *ngIf="isDataLoaded ; else loading">
                    <mat-radio-button value="1" disabled
                        [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 1">
                        Contacts have received all emails in the campaign
                    </mat-radio-button>
                    <mat-radio-button value="2" disabled
                        [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 2">
                        Contacts no longer meet the entry criteria</mat-radio-button>
                    <mat-error *ngIf="configForm.controls.exitCriteriaType.hasError('required')">
                        Select an exist type criteria
                    </mat-error>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../../../']" class="secondary2-button">Cancel</button>
        </div>
        <div class="btn">
            <button mat-button [routerLink]="['../invitation']" class="primary-button">Next</button>
        </div>
    </div>
</form>
<ng-template #loading>
    <irms-generic-content-loader></irms-generic-content-loader>
</ng-template>