<mat-horizontal-stepper #stepper [selectedIndex]="currentStepIndex" [linear]="false" class="disableStepperHead">
    <mat-step>
        <ng-template matStepLabel>Important Fields</ng-template>
        <irms-important-fields *ngIf="currentStepIndex == 0"></irms-important-fields>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Import Analysis</ng-template>
        <irms-import-analysis *ngIf="currentStepIndex == 1"></irms-import-analysis>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Collect Important Fields</ng-template>
        <irms-collect-important-fields *ngIf="currentStepIndex == 2"></irms-collect-important-fields>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div fxLayout="column" fxLayoutAlign="start center">
            <h2 class="step-heading">Your guests are added successfully!</h2>
            <img src="../../../../../../../assets/images/illustration_done.svg" alt="No content" />
            <div class="row btn-group">
                <button mat-flat-button class="primary-button" [routerLink]="['../']">Go Back</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>
<ng-template #loader>
    <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
</ng-template>