.swipperForm_input {
    // font-family: 'Tajawal', sans-serif !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid rgba(145, 145, 145, 0.25);
    outline: none;
    width: 100%;
    font-size: 24px;
    padding: 10px 0px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 1s;
    font-family: inherit;
    // color: #2f2f2f;
    &:focus { 
      border-bottom-color: rgba(54, 54, 54, 0.25);
    }
  }
  @media screen and (min-width: 640px) {
    .swipperForm_input {
      font-size: 30px;
    }
  }
  

  ::ng-deep {
    .swipper-form-autocomplete .mat-form-field-underline {
        background: rgba(145, 145, 145, 0.25) !important;
        height: 3px !important;
    }
    .swipper-form-autocomplete input, .swipper-form-autocomplete .mat-select-value {
        font-size: 24px;
    }
    .swipper-form-autocomplete .mat-select-value {
        color: inherit !important;
    }
    .swipper-form-panel , .mat-autocomplete-panel , .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
        background: rgba(136, 136, 136, 0.65) !important;
    }
}
