// .map {
//     border: 1px solid black;
// }
:host {
    width: 95%;
}
agm-map { 
    height: 300px; 
    widows: 600px;
}
:host {
    max-width: 100%;
}
irms-feature-list {
    width: 100%;
    height: 100%;
}
.disableStepperHead {
    ::ng-deep .mat-horizontal-stepper-header{
        pointer-events: none !important;
      }
}
.form-field-wrapper {
    h4 {
        margin: 0;
        padding-bottom: 5px;
    }
}
irms-croppie-btn  {
    ::ng-deep .uploadButton {
        height: 140px;
        width: 140px;
    }
}
.imageThumbnail {
    height: 140px;
    width: 140px;
    background-size: cover !important;
    border-radius: 6%;    
    position: relative;
    button {
        position: absolute;
        right: -60px;
    }
}