<mat-horizontal-stepper class="invStepper" #stepper *ngIf="isStepper" [selectedIndex]="stepIndex"
  (selectionChange)="stepChange($event)">
  <mat-step>
    <ng-template matStepLabel>Welcome</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Invitation (RSVP)</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Accepted</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Rejected</ng-template>
  </mat-step>
</mat-horizontal-stepper>
<section id="rsvp-form-editor" [ngClass]="{'stepperHeight':isStepper}">
  <div id="sidebar">
    <mat-nav-list role="list">
      <a mat-list-item role="listitem" (click)="selectedTab = 0; isUpdatingTheme = false" [ngClass]="{'active': selectedTab == 0}"
        title="Edit Form">
        <mat-icon matListIcon>edit</mat-icon>
        <!-- Forms -->
      </a>
      <a mat-list-item role="listitem" (click)="selectedTab = 1; isUpdatingTheme = true" [ngClass]="{'active': selectedTab == 1}"
        title="Select Theme">
        <mat-icon matListIcon>format_paint</mat-icon>
        <!-- Themes -->
      </a>
      <!-- <a mat-list-item role="listitem" (click)="selectedTab = 2" [ngClass]="{'active': selectedTab == 2}"
          title="Form Settings">
          <mat-icon matListIcon>settings_applications</mat-icon>
        </a> -->
    </mat-nav-list>
  </div>
  <div id="main-container">
    <section class="form-editor" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px grid">
      <div class="editor-pane" fxFlex="60">
        <mat-tab-group *ngIf="rsvpForm" class="editor-tabs" [ngClass]="{'editor-tabs2':responseOnlyMode}"
          [selectedIndex]="selectedTab" animationDuration="100ms" [formGroup]="rsvpForm">
          <mat-tab formGroupName="formContent">
            <ng-template matTabContent>
              <irms-rsvp-form-editor-content-pane *ngIf="!isStepper" [tempId]="tempId" [canCopyTemplate]="false"
                [welcome]="rsvpForm.get('formContent.welcome')" [responseOnlyMode]="responseOnlyMode"
                [rsvp]="rsvpForm.get('formContent.rsvp')" [accept]="rsvpForm.get('formContent.accept')"
                [reject]="rsvpForm.get('formContent.reject')"></irms-rsvp-form-editor-content-pane>
              <irms-rsvp-form-editor-content-pane-stepper [media]="tempInfo.type" [stepper]="stepIndex"
                *ngIf="isStepper" [tempId]="tempId" [canCopyTemplate]="tempInfo.copyTemplate"
                [welcome]="rsvpForm.get('formContent.welcome')" [responseOnlyMode]="responseOnlyMode"
                [rsvp]="rsvpForm.get('formContent.rsvp')" [accept]="rsvpForm.get('formContent.accept')"
                [reject]="rsvpForm.get('formContent.reject')" (copyMediaTemplate)="copyMediaTemplate($event)"></irms-rsvp-form-editor-content-pane-stepper>
            </ng-template>
          </mat-tab>
          <mat-tab formGroupName="formTheme">
            <ng-template matTabContent>
              <irms-rsvp-form-editor-theme-pane [responseOnlyMode]="responseOnlyMode"
                [theme]="rsvpForm.get('formTheme')"></irms-rsvp-form-editor-theme-pane>
            </ng-template>
          </mat-tab>
          <!-- <mat-tab>
              <ng-template matTabContent>
                <irms-rsvp-form-editor-settings-pane [settings]="rsvpForm.get('formSettings')"></irms-rsvp-form-editor-settings-pane>
              </ng-template>
            </mat-tab> -->
        </mat-tab-group>
      </div>
      <div class="preview-pane" fxFlex="40" fxLayout="row" fxLayoutAlign="center start">
        <irms-refresh-form-button (refreshClick)="refreshFormPreview()"></irms-refresh-form-button>
        <div class="mobile-preview">
                <irms-rsvp-form [mockup]="true" [responseOnlyMode]="responseOnlyMode"></irms-rsvp-form>
        </div>
      </div>
    </section>
  </div>
</section>
<div fxLayout="row" class="btns">
  <span fxFlex="10"></span>
  <div fxFlex="10" class="btnDiv" fxLayoutAlign="start end">
    <button mat-flat-button class="secondary-button" *ngIf="isStepper" (click)="close()">Close</button>
  </div>
  <span fxFlex="70"></span>
  <div fxFlex="20" fxLayoutAlign="start end">
    <!-- <button mat-flat-button class="secondary-button" *ngIf="isStepper" (click)="saveForm()">Save</button> -->
    <button mat-flat-button class="primary-button" *ngIf="isStepper && !isUpdatingTheme"
      (click)="save()">{{stepIndex < 3 ? 'Save & Next' : 'Save'}}</button>
      <button mat-flat-button class="primary-button" *ngIf="isUpdatingTheme"
      (click)="saveForm()">Save</button>
  </div>
</div>