@import "../../../../../constants/variables.scss";

:host,
.editor-pane {
    width: 65vw;
    height: 84vh;
    overflow-x: hidden;
}

.stepperCont {
    max-height: 70vh !important;
}

::ng-deep .stepperHeight {
    max-height: 76vh !important;
}

.editor-pane {
    padding-top: 10px !important;
    width: 60vw;
}

.preview {
    background-color: $theme-white;
    height: 100%;
}

::ng-deep {
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
        padding: 15px !important;
    }

    .mat-horizontal-content-container {
        height: 0px;
        display: none;
    }
}

::ng-deep .editor-tabs2 {
    height: 100% !important;

    >.mat-tab-header {
        display: none;
    }
}

::ng-deep .editor-tabs {
    height: 92%;

    >.mat-tab-header {
        display: none;
    }
}

#rsvp-form-editor {
    display: grid;
    grid-template-columns: 66px 8fr;
    grid-template-rows: auto;
}

section {
    height: 100%;

    #sidebar {
        border-right: $theme-border;
    }

    #main-container {
        padding: 0px 15px;
        max-width: 60vw;
    }

    mat-nav-list {
        a {
            &:hover {
                text-decoration: none !important;
            }

            color: $primary-color;

            &.active {
                mat-icon {
                    color: $accent-color;
                }

                border-right: 2px solid $accent-color;
                font-weight: 400;
            }
        }

        mat-icon {
            //   color:$primary-light;
        }
    }
}

mat-tab-group {
    ::ng-deep .mat-tab-body-wrapper {
        flex-grow: 1;
    }
}

// .invStepper{
//   max-height: 74vh !important;
// }

#stepper .mat-step-label.mat-step-label-active {
    padding-top: 4px !important;
}

::ng-deep {
    .mat-step-header .mat-step-label.mat-step-label-active {
        padding-top: 4px !important;
    }
    .mat-horizontal-stepper-header {
      height: 40px !important;
    }
}

.btnDiv {
    z-index: 2;
}


.mobile-preview {
    width: 306px;
    max-width: 306px;
    height: 542px;
    max-height: 542px;
}