<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">
      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                          value: '*',
                          params: { delay: '50ms', scale: '0.2' }
                      }">
          date_range
        </mat-icon>
        <span class="logo-text h1" [@animate]="{
                          value: '*',
                          params: { delay: '100ms', x: '-25px' }
                      }">
          Events
        </span>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg generic-content-card">

      <div class="toolbar" [@animate]="{
        value: '*',
        params: { delay: '120ms', scale: '0.2' }
    }">
        <div class="toolbar-actions" fxLayout="column" fxFill>
          <irms-generic-search-bar  [searchPlaceholder]="'Search for events'" 
          [emitQuery]="true" (searchText)="searchQueryChange($event)"></irms-generic-search-bar>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <irms-checkbox-filter  (onFilterChange)="timeFilterChange($event)"></irms-checkbox-filter>
            {{numberOfEventCards}}
          <span *ngIf = "response?.totalCount">{{response.totalCount}} Event<span *ngIf = "response?.totalCount > 1">s</span></span>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="content-area" #contentArea fxLayout="column" fxFill>
        <div  *ngIf="!loading ; else loadingEvents">
          <div class="event-list" [@animateStagger]="{value:'50'}" fxLayout="row wrap" fxLayoutWrap>
            <mat-card [@animate]="{value:'*',params:{y:'100%'}}" class="event-card add-card" [routerLink]="['create']">
              <mat-card-content>
                <div class="event-details" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon>add</mat-icon>
                  <h2>Create Event</h2>
                </div>
              </mat-card-content>
            </mat-card>
            <span *ngFor="let item of response?.items" [@animate]="{value:'*',params:{y:'100%'}}">
              <irms-event-list-item *ngIf="item" [data]="item">
              </irms-event-list-item>
            </span>
            <div *ngIf="!loading && response?.totalCount == 0" class="empty-list">
              <irms-empty-list-message [heading]="'No events found'" [secondaryText]="" [type]="'listEmpty'">
              </irms-empty-list-message>
            </div>
          </div>
          <div *ngIf="response && response?.items.length < response.totalCount" class="loadmore" fxFill fxLayout="column"
          fxLayoutAlign="start center" [@animate]="{value:'*',params:{y:'100%'}}">
          <button mat-button class="secondary-button" *ngIf="!loadingBtn" (click)="loadMore()"
            [irmsButtonLoader]="loadingMore"><span>Load More</span></button>
        </div>
        </div>
        
      </div>
      
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
</div>
<ng-template #loadingEvents>
  <div class="event-list" *fuseIfOnDom [@animateStagger]="{value:'50'}" fxLayout="row wrap" fxLayoutWrap>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
    <irms-generic-content-loader [@animate]="{value:'*',params:{y:'100%'}}" [loaderType] = "'event-card'"></irms-generic-content-loader>
  </div>
</ng-template>