@import "../../../../constants/variables.scss";
@import "../../../../constants/mixins.scss";

:host {
    width: 80vw;
    max-width: 100%;

    @include respond-to($phone and $tablet-portrait) {
        width: 100vw;
    }
}
.toolbar {
    min-height: 88px !important;
}

.event-list {
    width: 100%;
    height: 100%;
}

.content-area {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loadmore {
    margin: 15px 0px;
}

::ng-deep .event-card {
    cursor: pointer;
    width: 240px;
    margin: 9.5px;
    border-radius: 5% !important;
    // height: 274px;
    .mat-card-image {
        background-size: cover;
        background-position: center;
        height: 90%;
        margin-bottom: 5px;
    }

    .event-details {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    mat-card-title {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0px;
    }

    mat-card-footer {
        font-size: 13px;
        margin: auto;

        button {
            float: right;

            mat-icon {
                color: $primary-color;
            }
        }
    }

    &:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 5px 8px rgba(0, 0, 0, 0.12) !important;
    }

}

.add-card {
    background: $accent-color !important;
    height: 300px;
    .event-details {
        top: 50%;
        font-weight: 600;
        color: $primary-color;

        .mat-icon {
            width: 100%;
            height: 100%;
            font-size: 50px;
        }
    }

    cursor: pointer;
}