:host {
    width: 100%;
    position: relative;
    ::ng-deep mat-form-field .mat-form-field {
      &-underline {
        position: relative;
        bottom: auto;
      }
      &-subscript-wrapper {
        position: static;
      }
    }
  }
   mat-form-field {
    width: 100%;
   }
   mat-error {
     position: absolute;
     bottom: 0;
     font-size: 12px;
     padding: 0 1em;
   }
   mat-label{
     padding-right: 10px;
   }