@import "src/@fuse/scss/fuse";
@import "../../../app/constants/variables.scss";

fuse-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99998;
    mat-progress-bar {
        .mat-progress-bar-fill::after {
            background-color: $accent-color !important;
        }

        .mat-progress-bar-buffer {
            background-color: #C5C6CB !important;
        }
    }
}
