@import "src/app/core/scss/fuse";

:host {

    .fuse-search-bar {
        min-width: 64px;
        height: 64px;
        font-size: 13px;

        @include media-breakpoint-down('sm') {
            height: 56px;
        }

        .advanced-search {
          display:inline-block;

          .toolbar-search-div {
            display: inline-block;
            margin-right: 5px;
          }
        }

        .fuse-search-bar-expander,
        .fuse-search-bar-collapser {
            cursor: pointer;
            padding: 0 20px;
            margin: 0;
            width: 64px !important;
            height: 64px !important;
            line-height: 64px !important;

            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }

        .fuse-search-bar-loader {
            width: 64px !important;
            height: 64px !important;
            line-height: 64px !important;
            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }

        .fuse-search-bar-collapser {
            display: none;
        }

        #fuse-search-bar-input {
            display: none;
            min-height: 64px;
            background-color: transparent;
            font-size: 16px;

          &::-ms-clear {
            display: none;
          }
        }

        &.expanded {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            #fuse-search-bar-input {
                display: block;
            }

            .fuse-search-bar-collapser {
                display: block;
            }
        }
    }

    body {

        &.fuse-search-bar-expanded {

            #toolbar {
                z-index: 999 !important;
            }
        }
    }
}
