<form [formGroup]="configForm" fxLayout="column" fxLayoutAlign="start" (ngSubmit)="update(true)" #formRef="ngForm">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>1</span></div>
        <div fxFlex="74">
            <h3>What is the name of this campaign?</h3>
            <irms-input-error [fieldLabel]="'Campaign name'" [inputControl]="configForm.controls['name']"
                [errorRangeText]="'Campaign name must be between 2 and 200 characters.'" [charactersCount]="200"
                [required]="true" *ngIf="isDataLoaded ; else loading">
            </irms-input-error>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>2</span></div>
        <div fxFlex="74">
            <h3>Which guest list will be part of this campaign?</h3>
            <!-- <mat-hint>A campaign can be triggered when someone is added to a list</mat-hint> -->
            <h3>Select Guest List<span class="required">*</span></h3>
            <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group" fxFill>
                <mat-form-field appearance="outline" fxFlex="33" *ngIf="isDataLoaded && guestLists.length != 0;">
                    <mat-label>
                        Select Entry Criteria
                    </mat-label>
                    <mat-select [formControl]="configForm.controls['entryCriteriaTypeId']">
                        <mat-option *ngFor="let type of criteriaTypeList" [value]="type.id" [title]="type.value">
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="configForm.controls.entryCriteriaTypeId.hasError('required')">
                        Select an action
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="33" *ngIf="isDataLoaded && guestLists.length != 0;">
                    <mat-label>
                        Guest list
                    </mat-label>
                    <mat-select [formControl]="configForm.controls['guestListId']">
                        <mat-option (click)="CreateList()">
                            <button mat-flat-button class="secondary-button">
                                <mat-icon>add</mat-icon><span>Create New List</span>
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let list of guestLists" [value]="list.id" [title]="list.value">
                            {{list.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="configForm.controls.guestListId.hasError('required')">
                        Select a guest list
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" fxFlex="33"
                    *ngIf="isDataLoaded && guestLists.length != 0 && configForm.controls['entryCriteriaTypeId'].value == 2">
                    <mat-label>
                        Select Admin
                    </mat-label>
                    <mat-select [formControl]="configForm.controls['entryAdmin']">
                        <mat-option *ngFor="let admin of adminList" [value]="admin.id">
                            {{admin.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <div fxFlex="100" *ngIf=" isDataLoaded && guestLists.length == 0; loading" fxLayout="row">
                    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-flat-button class="secondary-button" (click)="CreateList()">
                            <mat-icon>add</mat-icon><span>Create New List</span>
                        </button>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
                        <span>It seems like you do not have any guest lists for this event.</span>
                        <span>Click on Create New List to create an event guest list.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>3</span></div>
        <div fxFlex="74">
            <h3> How do you want to reach your guests?</h3>
            <mat-hint>Checking Reachability is a great way to ensure the deliverability of your invitations to all your
                guests through their available communication channels, that you will be able to set as their preferred
                communication channel.</mat-hint>
            <div fxLayout="row" *ngIf="isDataLoaded ; else loading" fxLayoutAlign="start center">
                <button type="button" mat-flat-button class="secondary-button" (click)="preferredMediaSelect(false)"
                    [disabled]="!configForm.controls.guestListId.value" [irmsButtonLoader]="reachabilityLoading">Check
                    Reachability</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch"
                *ngIf="prefferedMediaStats?.emailCount > 0 || prefferedMediaStats?.smsCount > 0 || prefferedMediaStats?.whatsAppCount > 0">
                <!-- <h3>COMMUNICATION MEDIA PREFERRED</h3>
                <mat-hint>You can choose how you prefer to reach your guests </mat-hint>
                <div fxLayout="row" *ngIf="isDataLoaded ; else loading">
                    <button mat-flat-button class="secondary-button" type="button" (click)="preferredMediaSelect(false)"
                        [disabled]="!configForm.controls.guestListId.value">Set preferred medium for guests</button>
                </div> -->
                <div fxLayout="column" fxLayoutAlign="start center" class="form-field-group"
                    *ngIf="prefferedMediaStats">
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="media-stats">
                        <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <!-- <mat-checkbox></mat-checkbox> -->
                                <mat-icon>email</mat-icon>
                                <span>Email</span>
                            </div>
                            <span class="value">{{prefferedMediaStats.emailCount}}</span>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <!-- <mat-checkbox></mat-checkbox> -->
                                <mat-icon>sms</mat-icon>
                                <span>SMS</span>
                            </div>
                            <span class="value">{{prefferedMediaStats.smsCount}}</span>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <!-- <mat-checkbox></mat-checkbox> -->
                                <mat-icon svgIcon="whatsapp"></mat-icon>
                                <span>Whatsapp</span>
                            </div>
                            <span class="value">{{prefferedMediaStats.whatsAppCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exit-criteria" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
        <div class="list-icon" mat-list-icon fxFlex="24px"><span>4</span></div>
        <div>
            <h3>When will your contacts leave this campaign?</h3>
            <mat-hint>Decide whether contacts will receive all emails in the series or exit when they no longer meet the
                entry
                criteria.</mat-hint>
            <h3>EXIT CRITERIA <span class="required">*</span></h3>
            <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group">
                <mat-radio-group aria-label="attendees" [formControl]="configForm.controls['exitCriteriaType']" required
                    fxLayout="column" fxLayoutAlign="start" *ngIf="isDataLoaded ; else loading">
                    <mat-radio-button value="1"
                        [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 1">
                        Contacts have received all emails in the campaign
                    </mat-radio-button>
                    <mat-radio-button value="2"
                        [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 2"
                        *ngIf="configForm.controls['entryCriteriaTypeId'].value == 2">
                        Contacts no longer meet the entry criteria</mat-radio-button>
                    <mat-error *ngIf="configForm.controls.exitCriteriaType.hasError('required')">
                        Select an exist type criteria
                    </mat-error>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="btn-group" fxLayout="row" fxLayoutAlign="start">
        <button mat-flat-button class="primary-button" #submitBtn [irmsButtonLoader]="sectionService.loading"><span>Save
                & Next</span></button>
    </div>
</form>
<ng-template #loading>
    <irms-generic-content-loader></irms-generic-content-loader>
</ng-template>