@import "../../../../../../../constants/variables.scss";
:host {
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}
h3 {
    font-weight: 600;
}
.list-icon {
    border-radius: 50%;
    margin-top: 16px;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    position: relative;
    border: 1px solid $accent-color;
    color: $accent-color;
    margin-inline-end: 12px;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
    }
}
.exit-criteria {
    margin-top: 2.34375em;
    margin-bottom: 2em;
}
.media-stat-hint {
    margin-top: 0px;
}
.media-stats {
    width:100%;
    .media-stat-item{
        mat-checkbox {
            margin: 0 0px 8px;
        }
        span {
            text-align: center;
            font-weight: 600;
        }
        .value {
            margin-top: 0px;
        }
    }
}