<div class="campaign-flow" fxLayout="row" fxLayoutAlign="start stretch">
    <irms-campaign-flow-nodes class="nodes" [nodes]="nodes" (addEvent)="createNode()" (updateEvent)="updateNodes()" (copyEvent)="copyNode($event)"
        (deleteEvent)="deleteNode($event)"
        [parentText]="'Invitation Accepted'" [parentIcon]="'check_circle_outline'" [nodeLabelPrefix]="'Message'"
        [emptyText]="'Add messages for your accepted guests'"></irms-campaign-flow-nodes>
    <div class="node-view" fxFlex>
        <router-outlet #acceptedOutlet="outlet"></router-outlet>
        <irms-empty-list-message class="not-selected" *ngIf="!acceptedOutlet.isActivated"
            [heading]="nodes?.length > 0 ? 'Select Messages to work on' : 'Add Messages'" [secondaryText]=""
            [type]="'selectSomething'">
        </irms-empty-list-message>
    </div>
</div>