:host {
  width: 100%;
  align-items: baseline;
  ::ng-deep mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
    }
  }
}
 mat-form-field {
  width: 100%;
 }
