<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Custom Fields</h1>
    </div>
    <div fxFlex="80">
        <div *ngIf="isLocked && model && model.fields" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" (click)="toggleLock()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto"
                    *ngFor="let field of model.fields; index as i">
                    <mat-label fxFlex="30">{{field.title}}</mat-label>
                    <div fxFlex="70" class="value">{{field.value}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLocked && model && model.fields" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column">
            <div *ngFor="let field of model.fields; index as i" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="field.title" [inputControl]="customFields.controls[i]" *ngIf="field.customFieldType==0"
                    [charactersCount]="field.maxValue" fxFlex="100">
                </irms-input-error>

                <mat-form-field appearance="outline" *ngIf="field.customFieldType==1" fxFlex="100">
                    <mat-label>{{field.title}}</mat-label>
                    <input matInput type="text" [formControl]="customFields.controls[i]"
                        [placeholder]="field.title" />
                        <mat-error *ngIf="customFields.controls[i].status == 'INVALID'">
                            Please enter a valid number.
                        </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="field.customFieldType==2" fxFlex="100">
                    <mat-label>{{field.title}}</mat-label>
                    <input matInput [min]="field.minDate" [max]="field.maxDate" [owlDateTimeTrigger]="dtTrigger" [owlDateTime]="dtTrigger" [formControl]="customFields.controls[i]"
                        [placeholder]="field.title" autocomplete="off"/>
                    <owl-date-time [pickerType]="'calendar'" #dtTrigger></owl-date-time>
                    <mat-error *ngIf="customFields.controls[i].status == 'INVALID'">
                        Please enter a valid date.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                fxFlex="100">
                <div class="btn">
                    <button mat-flat-button class="secondary-button" (click)="checkValid()">Back</button>
                </div>
                <div class="btn">
                    <button mat-flat-button class="primary-button" (click)="update()" [irmsButtonLoader]="loading"
                        [disabled]="customFields.status == 'INVALID'">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="75" class="noValue value">-</div>
</ng-template>