@import "../../../../../../constants/variables.scss";
.theme-section {
    padding: 10px 10px;
    height: 90vh;
    // .content-sub-section {
    //     padding: 20px 0px;
    //     .button-input {
    //         // width: 65%;
    //         padding: 2%;
    //         border-radius: 4px;
    //         margin-top: 10px;
    //         margin-inline-end: 0px;
    //         text-align: center;
    //       }
    // }
}

mat-button-toggle {
    height: 36px;
    .bg-opt{
        fill: $primary-color;
    }
    ::ng-deep mat-icon{
        font-size: 13px;
    }
    ::ng-deep .mat-button-toggle-label-content {
        line-height: 36px;;
    }
}
.mat-button-toggle-checked {
    .bg-opt{
        fill: $primary-color;
    }
  }
.backgroundThumbnail{
    height: 140px;
    width: 140px;
    background-size: cover !important;
    border-radius: 6%;
}