@import 'src/app/constants/variables.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-file{
  .input {
    position: absolute;
    height: 36px;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
  .upload-file-btn{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;

  }
  .upload-file-btn.invalid{
    .mat-raised-button{
      background-color: $warn-color;
    }
  }
  .title{
    margin-right: 15px;
  }
  .file-name {
    min-width: 80px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px;
  }
  .mat-raised-button{
    min-width: 115px;
    max-height: 36px;
    padding: 0 20px;
    letter-spacing: 0.5px;
  }
}
.rotate-container {
  position: absolute;

  #rotate-left {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 1;
  }

  #rotate-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1;
  }

}

.upload-msg {
  width: 400px;
  height: 404px;
  padding: 50px;
  font-size: 22px;
  color: #aaa;
  margin: 0 auto 50px auto;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
}

.btn-group{
  .btn-block{
    display: flex;
    .btn{
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
::ng-deep .croppie-container {
    background: rgba(224, 224, 224, 0.62);
}
