<!-- CONTENT CARD -->
<div class="content-card mat-white-bg generic-content-card">
    <!-- CONTENT -->
    <div class="content-area section-content">
        <div class="list-box" fusePerfectScrollbar>
            <irms-generic-list [dataListObservable]="data" [dataListItemBody]="listItemComponent"
                [selectable]="false" (onChangePagination)="changePagination($event)" [listHeaders]="listHeaders"
                [emptyHeading]="'No Campaigns Found'" [loaderType] = "'section-list'">
            </irms-generic-list>
        </div>
    </div>
    <div class="pagination">
        <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
            [pageSizeOptions]="pageSizeOptions" [pageIndex]="sectionService.pageIndex"
            (page)="changePagination($event)">
        </mat-paginator>
    </div>
    <!-- / CONTENT -->
</div>
<!-- / CONTENT CARD -->
