@import "../../../../../constants/variables.scss";
.edit-button {
    color: $primary-color;
}
.view-only {
    ::ng-deep .thumbnail img{
        width: 130px !important;
        height: 130px !important;
    }
}
.section-heading {
    font-weight: 600;
}
.tab-content {
    padding: 15px;
}