<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                    arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                                value: '*',
                                params: { delay: '100ms', x: '-25px' }
                            }">
                    {{listName}}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div>
                <button mat-flat-button class="secondary-button" (click)="exportAllGuests()" *ngIf="allCount > 0">
                    <mat-icon>launch</mat-icon><span>Export List</span>
                </button>
                <button mat-flat-button class="secondary-button" [routerLink]="'./import-analysis'" *ngIf="allCount > 0 && !isLive ">
                    <mat-icon>data_usage</mat-icon><span>List Analysis</span>
                </button>
                <button mat-flat-button class="secondary-button" (click)="deleteList()"
                    *ngIf="!isLocked && allCount == 0">
                    <mat-icon>delete</mat-icon><span>Delete List</span>
                </button>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card" *ngIf="!isLoading">
            <div class="toolbar" [@animate]="{
            value: '*',
            params: { delay: '120ms', scale: '0.2' }
        }" fxLayout="row">
                <div class="toolbar-actions content-card" fxFlex *ngIf="allCount > 0">
                    <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for guests'"
                        (searchText)="search($event)" [emitQuery]="true">
                    </irms-generic-search-bar>
                </div>
            </div>
            <div *ngIf="!isLocked" class="toolbar list-actions" [@animate]="{
                value: '*',
                params: { delay: '120ms', scale: '0.2' }
            }" fxLayout="row">
                <div class="action-btn-group" *ngIf="selectedGuests.length > 0">
                    <irms-actions-button-group [actionButtons]="actionButtons" [selectedItems]="selectedGuests">
                    </irms-actions-button-group>
                </div>
            </div>
            <!-- CONTENT -->
            <div *ngIf="allCount && allCount > 0 ; else noValue">
                <div class="content-area">
                    <div class="list-box" fusePerfectScrollbar fxFlex>
                        <irms-generic-list [dataListObservable]="data"
                            [dataListItemBody]="isLocked? lockedListItemComponent : listItemComponent"
                            [selectable]="!isLocked" (onChangePagination)="changePagination($event)"
                            [selectedIds]='selectedGuests' (onCheckChange)="selectionChange($event)"
                            [listHeaders]="isLocked? listHeadersLocked : listHeadersEditable"
                            [emptyHeading]="'No Guests Found'" (onSelectAll)="selectAll($event)"
                            [loaderType]="'section-list'" [indeterminate]="indeterminate" [checked]="checked">
                        </irms-generic-list>
                    </div>
                </div>
                <div class="pagination">
                    <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                        [pageSizeOptions]="pageSizeOptions" [pageIndex]="sectionService.pageIndex"
                        (page)="changePagination($event)">
                    </mat-paginator>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <irms-generic-content-loader *ngIf="isLoading" [loaderType]="'section-list'"></irms-generic-content-loader>
        <!-- / CONTENT CARD -->
    </div>
</div>

<ng-template #noValue>
    <div fxFlex="75" class="noValue value" fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="10">
        <h1>There are currently no guests in {{listName}}. </h1>
        <h2><a (click)="goToImportGuests()">Upload an Excel</a> or <a (click)="goToCreateGuests()">Create a Guest</a>
            Manually to start adding guests to the list.</h2>
        <button mat-flat-button class="primary-button" (click)="goToImportGuests()">
            <span>Upload Excel</span>
        </button>
    </div>
</ng-template>