<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="table-container">
        <form [formGroup]="validateStep">
            <table mat-table [dataSource]="dataSource" class="contacts-table" formArrayName="contacts">
                <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col"
                    [sticky]="col === '#' ? true : false" [stickyEnd]="col === 'actions' ? true : false">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="col !== 'actions'">{{col}}</span>
                    </th>
                    <td mat-cell *matCellDef="let contact; index as i" [formGroupName]="i"
                        [matTooltip]="'Duplicate Contact! \n This contact already exists \n Please select to keep or discard this record'" [matTooltipClass]="'tooltip-warn'"
                        [matTooltipDisabled]="!contact.hasError('duplicateEmail') && !contact.hasError('duplicatePhone')"
                        [ngClass]="{'duplicate' : contact.hasError('duplicateEmail') || contact.hasError('duplicatePhone') || contact.hasError('emailOrMobile')}">
                        <!-- [matTooltip]="'Duplicate Contact! \n This contact already exists \n Please select to keep or discard this record'" 
                    [matTooltipClass]="'tooltip-warn'" 
                    [matTooltipDisabled]="!contacts.controls[i].invalid"
                    [ngClass]="{'duplicate' : contacts.controls[i].invalid}" -->
                        <span *ngIf="col === '#'" class="index">
                            {{i + 1}}
                        </span>
                        <span *ngIf="col === 'actions'">
                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                *ngIf="contact.hasError('duplicateEmail') || contact.hasError('duplicatePhone')">
                                <button [id]="'keepButton_'+i" mat-icon-button (click)="keepContact(i)">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button [id]="'discardButton_'+i" mat-icon-button (click)="removeContact(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </span>
                        <div *ngIf="mandatory.indexOf(col) > -1" class="input-wrapper">
                            <!-- {{ contact.get(col).value }} -->
                            <input [id]="col+'_'+i" irmsTextOverflow type="text" [formControl]="contact.get(col)"
                                [ngClass]="{'invalid' : contact.get(col).invalid}">
                            <span *ngIf="contact.get(col).invalid" class="error-dot"
                                [matTooltip]="contact.get(col).hasError('required') ? 'Missing '+ col : 'Invalid '+ col"
                                [matTooltipDisabled]="!contact.get(col).invalid" [matTooltipClass]="'tooltip-warn'">
                                <mat-icon>error</mat-icon>
                            </span>
                        </div>
                        <div *ngIf="mandatory.indexOf(col) === -1 && col !== '#' && col !== 'actions'"
                            class="input-wrapper">
                            <!-- {{ contact.get(col).value }} -->
                            <input [id]="col+'_'+i" irmsTextOverflow type="text" [formControl]="contact.get(col)">
                        </div>
                    </td>
                </ng-container>
                <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </form>

    </div>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../']" class="secondary2-button" #cancel2>Cancel</button>
        </div>
        <div class="btn">
            <button mat-button [disabled]="validateStep?.invalid" class="primary-button"
                #confirm (click)="uploadList()">Confirm</button>
        </div>
    </div>
</div>