<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <button mat-icon-button (click)="close()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h2>{{model.eventName}}</h2>
    </div>
</div>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-list>
            <mat-list-item>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-label class="label">Status</mat-label>
                    <mat-label class="value">{{data.guest.status}}</mat-label>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-label class="label">Parking</mat-label>
                    <mat-label class="value">{{model.parking}}</mat-label>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-label class="label">Seat</mat-label>
                    <mat-label class="value">{{model.seat}}</mat-label>
                </div>
            </mat-list-item>
        </mat-list>

        <div fxLayout="column">
            <div class="thumbnail-container" *ngIf="model.badgeLink">
                <img [style.background-image]="doPathUrl(model.badgeLink)" class="image" src="{{transparentSource}}">
                <div class="hover-overlay" fxLayout="row" fxLayoutAlign="center center">
                    <button type="button" class="save-button" mat-flat-button (click)="saveBadge()">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon>save_alt</mat-icon>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>