<div fxflex="" fxlayout="row" fxlayoutalign="start center" class="search-wrapper"
    style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center; flex: 1 1 0%;">
    <div fxlayout="row" fxlayoutalign="start center" class="search"
        style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
        <mat-icon role="img" class="mat-icon notranslate secondary-text material-icons mat-icon-no-color"
            aria-hidden="true">search</mat-icon>
            <input fxflex="" class="ng-pristine ng-valid ng-touched"
            style="flex: 1 1 0%; box-sizing: border-box;" [placeholder]="searchPlaceholder" [(ngModel)]="queryString" (ngModelChange)="onSearchInputChange($event)" #search_input>
    </div>
</div>