<h2 mat-dialog-title>Please Select Event & Event Guest List</h2>

<mat-dialog-content class="menu">
    <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>
            Event
        </mat-label>
        <mat-select [formControl]="form.controls['eventId']">
            <mat-option *ngFor="let events of currentEvents" [value]="events.id" [disabled]="currentEvents.length === 0">
                {{events.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>
            Event Guest List
        </mat-label>
        <mat-select [formControl]="form.controls['guestListId']" [disabled]="eventGuestList.length === 0">
            <mat-option *ngFor="let type of eventGuestList" [value]="type.id">
                {{type.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="add()" [disabled]="form.invalid">Add</button>
</mat-dialog-actions>