
<h2>Design Email Landing Page (RSVP)</h2>
<div fxLayout="column">
<irms-rsvp-form-editor [tempId]="0" [responseOnlyMode]="true" [rsvpForm]="rsvpForm"></irms-rsvp-form-editor>
<mat-dialog-actions fxLayout="row">
    <div fxLayoutAlign="start center" fxFlex="50">
        <button class="mat-flat-button secondary-button" (click)="close()">Close</button>
    </div>
    <div fxLayoutAlign="end center" fxFlex="45">
        <button mat-flat-button class="primary-button" (click)="save()">Save</button>
    </div>
</mat-dialog-actions>
</div>

  <!-- <h2 mat-dialog-title>Design Landing Page</h2>
<mat-dialog-content class="content" fxLayout="column">
    <irms-rsvp-form-editor [tempId]="0" [responseOnlyMode]="true" [rsvpForm]="rsvpForm"></irms-rsvp-form-editor>
    <mat-dialog-actions fxLayout="row" fxFlex>
        <div fxLayoutAlign="start center" fxFlex="50">
            <button class="mat-flat-button secondary-button" (click)="dialogRef.close()">Cancel</button>
        </div>
        <div fxLayoutAlign="end center" fxFlex="50">
            <button mat-flat-button class="primary-button" (click)="save()">Save</button>
        </div>
        
      </mat-dialog-actions>
</mat-dialog-content> -->