<div id="content-layout" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                        arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    {{campaignName}}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <!-- CONTENT -->
            <div class="content-area section-content">
                <div class="list-box" fusePerfectScrollbar>
                    <irms-generic-list [dataListObservable]="data" [dataListItemBody]="listItemComponent"
                        [selectable]="false" (onChangePagination)="changePagination($event)" [listHeaders]="listHeaders"
                        [emptyHeading]="'No RFI forms Found'" [loaderType] = "'section-list'">
                    </irms-generic-list>
                </div>
            </div>
            <div class="pagination">
                <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                    [pageSizeOptions]="pageSizeOptions" [pageIndex]="sectionService.pageIndex"
                    (page)="changePagination($event)">
                </mat-paginator>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
