@import "../../../../../../../../constants/variables.scss";
.fields{
    *{
        font-size:20px;
    }
    .cell{
        border:$theme-border;
        padding: 12px 4px;
        mat-icon{
            font-size: 30px;
            margin-right: 8px;
        }
    }
}
.box{
    margin-left: 10px;
}