<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px" class="media-group">
    <mat-card class="media-card">
        <mat-card-header>
            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>email</mat-icon><span>Email</span>
                    </div>
                    <span class="ampersand">&</span>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>sms</mat-icon><span>SMS</span>
                    </div>
                </div>

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <irms-template-thumbnail [loading]="isLoading" [hasTemplate]="form?.id" [thumbnail]="form?.image" [templateType]="'rfi'"
                [templateId]="form?.id" (edit)="edit.emit()">
            </irms-template-thumbnail>
        </mat-card-content>
    </mat-card>
<div>