<div fxLayout="row" *ngIf="!vertical" class="horizontal" >
    <mat-checkbox *ngFor="let filterItem of filterArray" (change)="onFilterChangeMethod({event: $event.checked, value: filterItem.id})" >{{filterItem.name}}</mat-checkbox>
</div>
<div fxLayout="column" *ngIf="vertical" >
    <mat-checkbox *ngFor="let filterItem of filterArray" (change)="onFilterChangeMethod({event: $event.checked, value: filterItem.id})" >{{filterItem.name}}</mat-checkbox>
</div>
