<h2 mat-dialog-title>Create New Guest List</h2>

<mat-dialog-content [formGroup]="newGuestListForm" fxLayout="column">
    <h4>Let's give your new guest list a name</h4>
    <irms-input-error [fieldLabel]="'List name'" [inputControl]="newGuestListForm.controls['name']"
    [errorRangeText]="'List Name must be between 2 and 100 characters.'" [charactersCount]="100"
    [required]="true" fxFlex="100">
  </irms-input-error>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" [disabled]="!newGuestListForm.valid" (click)="create()">Create List</button>
</mat-dialog-actions>