$nav-bg: rgba(136, 136, 136, 0.58);
.footer-wrapper{
    width: 100%;
    background: $nav-bg;
    height: 80px;
    z-index: 9999;
    .form-progress{
        width: 50%;
        padding-top: 2vh;
        padding-left: 2%;
        .mat-progress-bar{
            margin-top: 10px;
            height: 15px;
            border-radius: 8px;
        }
        .progress-percent{
            color:white;
            font-weight: bold;
        }
    }
    .form-nav-buttons{
        // float: right;
        text-align: center;    
        .button-nav{
            position: relative;
            font-family: inherit;
            border: none;
            font-weight: 700;
            cursor: pointer;
            -webkit-transition: 0.2s background-color,0.2s color,0.2s border-color,0.2s opacity;
            transition: 0.2s background-color,0.2s color,0.2s border-color,0.2s opacity;
            outline: none;
            white-space: nowrap;
            width: 44px;
            min-width: 44px;
            height: 40px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            border-radius: 6px;
            background-color: #399cae;
            padding-top: 8px;
            margin-right: 9px;
            &:hover{
                background-color: #328fa0;
            }
            #chevron-arrow-left {
                display: inline-block;
                border-right: 4px solid white;
                border-bottom: 4px solid white;
                width: 10px; height: 10px;
                transform: rotate(225deg);
              }
              
              #chevron-arrow-right {
                display: inline-block;
                border-right: 4px solid white;
                border-bottom: 4px solid white;
                width: 10px; height: 10px;
                transform: rotate(45deg);
              }
        }
    }
}
@media screen and (min-width: 640px) {
    .footer-wrapper:not(.only-phone){
        width: 500px;
        padding: 0 14px;
        margin: 15px;
        float: right;
        background: $nav-bg;
        border-radius: 6px;
    }
    :host-context(.rtl) {
        .footer-wrapper:not(.only-phone) {
            float: left;
        }
    }
}
::ng-deep .mat-progress-bar[dir='rtl'],
:host-context(.rtl) ::ng-deep {
    .mat-progress-bar {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .form-progress {
        direction: rtl;
    }
}
