@import "../../../../../constants/variables.scss";

$misc : rgba(144, 144, 144, 0.644);
:host {
    height: 100%;
    width: 100%;
}

.sender-header {
    padding: 20px 15px;
    color: $misc;
    border-bottom: $theme-border; 
    a {
        color: inherit;
        text-decoration: none;
        font-size: 1.5em;
        vertical-align: middle;
    }

    .name {
        color: $primary-color;
        font-weight: 400;
    }
}

.chatbox {
    background-color: #f5f8f9;
    padding: 0px 22px 10px 22px;
    width: 100%;
}

.time {
    text-align: center;
    font-size: .70em;
    color: #666;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

#message {
    width: 100%;
}


.sms-message{
    max-width: 85%;
    min-width: 15%;
    display: inline-block;
    position: relative;
    margin-bottom: 6px;
    animation: scaler 150ms ease-out;
    &:first-child {
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: -10px;
            top: 0;
            width: 0;
            border-width: 10px 10px 0;
            border-style: solid;
            border-color: $secondary-color transparent;
        }
    }
    p {
        margin-block-start: 0;
        margin-block-end: 0;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 10px;
        border-radius: 10px;
        word-wrap: break-word;
        font-weight: 500;

    }
}

#message {

    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    li {
        background-color: #e5eaec;
        color: #222;
        font-size: .85em;
        border-radius: 10px;
        position: relative;
        padding: 10px;
        margin: 1% 0;
        max-width: 70%;
        min-width: 10%;
        float: right;
        word-wrap: break-word;
        clear: both;
        animation: scaler 150ms ease-out;
        font-weight: 500;
    }

    .first:after {
        content: "";
        display: block;
        position: absolute;
        right: -10px;
        top: 0;
        width: 0;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: #e5eaec transparent;
    }
}

.reply {
    border-top: $theme-border;
    padding: 15px 10px;
    color: $misc;
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


@keyframes scaler {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}