<form [formGroup]="testEmailsForm" (ngSubmit)="sendEmails()">
    <h3 mat-dialog-title>Test Your Email</h3>
    <mat-dialog-content fxLayout="column">
        <mat-hint>Test your email before sending it to your recipients. You can enter <span class="text-bold">up to 10 emails</span></mat-hint>
        <mat-form-field appearance="outline">
            <mat-chip-list #chipList formArrayName="emails">
                <mat-chip [ngClass]="(item.invalid)?'warn':'chip1'" selected *ngFor="let item of emailList; let i=index" [selectable]="true" [removable]="removable"
                 (removed)="removeEmail(item)" required name="chips">{{item.value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Enter Email" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                 (matChipInputTokenEnd)="addEmail($event) " />
            </mat-chip-list>
        </mat-form-field>
      <mat-error *ngIf="testEmailsForm.hasError('incorrectEmail')">Invalid email(s)</mat-error>
      <mat-error *ngIf="testEmailsForm.hasError('overflow')">Please enter 10 or less emails</mat-error>
      <mat-error *ngIf="testEmailsForm.hasError('noEmails')">Enter emails</mat-error>
      <div class="form-field-group" fxLayoutAlign="center center">
        <div fxFlex="10" fxLayoutAlign="center center">
            <mat-icon>info</mat-icon>
        </div>
        <div fxFlex>
          Please note: the default value of tags will be displayed instead of the tag variable if the information for the tag is unavailable.
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-flat-button secondary-button" type="button" (click)="close()">Cancel</button>
        <button mat-button class="mat-flat-button primary-button" type="submit" [disabled]="testEmailsForm.invalid || emailList.length === 0 || isloading" [irmsButtonLoader]="isloading">Send Test Email</button>
    </mat-dialog-actions>
</form>