<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row">
        <div fxFlex="75">
            <h2 class="step-heading">Important Fields</h2>
            <h3>Please select the fields that you would like to verify that they have been filled</h3>
            <h3>This will help you know which guest has missing data that could be needed in your event.</h3>
        </div>
        <div fxFlex="25" fxLayoutAlign="center center">
            <button mat-button class="secondary-button" (click)="createCustomField()">Create New Custom Field</button>
        </div>

    </div>


    <div class="toolbar" [@animate]="{
        value: '*',
        params: { delay: '120ms', scale: '0.2' }
    }" fxLayout="row">
        <div class="toolbar-actions content-card" fxLayout="column" fxFlex="60">
            <irms-generic-search-bar [searchPlaceholder]="'Search for fields'" [emitQuery]="true"
                (searchText)="searchQueryChange($event)">
            </irms-generic-search-bar>
        </div>
    </div>

    <div *ngIf="loadedAndPreSelected; else listLoading" fxLayout="row" fxLayoutAlign="start">
        <div class="list-col" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50">
            <h3>All Fields</h3>
            <div cdkDropList #allFieldsList="cdkDropList" [cdkDropListData]="allFields"
                [cdkDropListConnectedTo]="[importantFieldsList]" class="list-container"
                (cdkDropListDropped)="drop($event, 'all')">
                <div class="field-box" *ngFor="let item of allFields | filterKeyword : filter : 'label'" cdkDrag>
                    <div class="custom-placeholder" *cdkDragPlaceholder></div>
                    {{item.label}}
                </div>
            </div>
        </div>

        <div class="list-col" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50">
            <h3>Important Fields</h3>
            <div cdkDropList #importantFieldsList="cdkDropList" cdkDropListSortingDisabled [cdkDropListData]="importantFields"
                [cdkDropListConnectedTo]="[allFieldsList]" class="list-container"
                (cdkDropListDropped)="drop($event, 'imp')">
                <div class="field-box" *ngFor="let item of importantFields | filterKeyword : filter : 'label'" cdkDrag>
                    <div class="custom-placeholder" *cdkDragPlaceholder></div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                        <span fxFlex>{{item.label}}
                            <span *ngIf="item.isRequired" class="required">*</span>
                        </span>
                        <mat-slide-toggle fxFlex="105px" [labelPosition]="'before'" [checked]="item.isRequired"
                            (change)="item.isRequired = !item.isRequired;">
                            <mat-hint *ngIf="item.isRequired">Required</mat-hint>
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btns row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button (click)="cancel()" class="secondary2-button">Cancel</button>
        </div>
        <div class="btn">
            <button mat-button [disabled]="selectedReservedFields.length == 0 && selectedCustomFields.length == 0"
                [irmsButtonLoader]="submitting" class="primary-button" (click)="confirm()">Next</button>
        </div>
    </div>
</div>
<ng-template #listLoading>
    <div class="list-container" >
        <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
    </div>    
</ng-template>