@import "../../../../../constants/variables.scss";
.no-type {
    background-color: rgb(221, 221, 221);
    .empty {
        -moz-box-shadow:    inset 0 0 10px #0000009f;
        -webkit-box-shadow: inset 0 0 10px #0000009f;
        box-shadow:         inset 0 0 10px #0000009f;
    }
}
mat-card-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.event-card{
    &:hover {
        .image {
            opacity: 0.7;
        }
        .hover-overlay {
            opacity: 1;
            border: 2px solid $accent-color;
        }
    }
}
.hover-overlay {
    border-radius: 5% 5% 0% 0%;
    transition: .3s ease;
    opacity: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(149, 149, 149, 0.52);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    .edit-button {
        background-color: transparent;
        color: $theme-white;
        width: 100%;
        height: 100%;
    }
}