@import "../../../../../../constants/variables.scss";

.refresh-button-wrapper {
    position: absolute;
    z-index: 100;
    right: 0;

    button {
        margin: 15px;
        background: rgba(1, 32, 66, 0.16);
        border: dotted 2px $primary-color;

        ::ng-deep .mat-button-wrapper {
            padding: 0px;
        }
    }
}