<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between start" [routerLink]="manageRouterLink(data)">
        <div class="list-detail-item" fxFlex="20">

            <div fxLayout="row" fxLayoutAlign="start start" [ngClass]="{'firstLive': data.status === status.Live}">
                <mat-icon class="item-status"
                    [ngClass]="{'live': data.status === status.Live, 'draft': data.status === status.Draft, 'disabled': data.status === status.Disabled}">
                </mat-icon>
                <div class="details" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-hint fxLayout="row" class="status-text">{{status[data.status]}}</mat-hint>
                    <h2 class="title" irmsTextOverflow>{{data.name}}</h2>
                    <p fxLayout="row" class="guests"><a>{{data.totalGuests}} guest<span
                                *ngIf="data.guests > 1">s</span></a></p>
                    <mat-hint class="date">
                        <span *ngIf="data.status === status.Live">Set live at</span>
                        <span *ngIf="data.status === status.Draft">Last updated at</span>
                        <span *ngIf="data.status === status.Disabled">Disabled at</span>
                        {{data.lastUpdate  | date}}
                    </mat-hint>
                </div>
            </div>
        </div>
        <div class="list-detail-item" fxFlex="80" fxLayout="column"
            [ngClass]="{'stats-container': data.status === status.Live}">
            <div fxLayout="row" fxLayoutAlign="center center" class="invitations-block"
                *ngIf="data.status === status.Live">
                <mat-form-field fxFlex="40" class="stats-dropdown" appearance="outline"
                    (click)="$event.stopPropagation()">
                    <mat-label>Stats</mat-label>
                    <mat-select (selectionChange)="selectInvitation($event, invitation)" class="border-hover">
                        <mat-option *ngFor="let invitation of invitations" [value]="invitation.id">{{invitation.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="stats-collection" *ngIf="data.status === status.Live">
                <div class="list-detail-item" fxFlex="25">
                    <div fxFlex fxLayout="column" fxLayoutAlign="start center" *ngIf="data.status === status.Live">
                        <span class="subheading">Delivery</span>
                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">email</mat-icon>
                            <span>{{this.formGroup.get(['delivery','email']).value}} /
                                {{this.formGroup.get(['total','email']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">sms</mat-icon>
                            <span>{{this.formGroup.get(['delivery','sms']).value}} /
                                {{this.formGroup.get(['total','sms']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon svgIcon="whatsapp" class="glyph-icon"></mat-icon>
                            <span>{{this.formGroup.get(['delivery','whatsapp']).value}} /
                                {{this.formGroup.get(['total','whatsapp']).value}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-detail-item" fxFlex="25">
                    <div fxFlex fxLayout="column" fxLayoutAlign="start center" *ngIf="data.status === status.Live">
                        <span class="subheading">Accepted</span>
                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">email</mat-icon>
                            <span>{{this.formGroup.get(['accepted','email']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">sms</mat-icon>
                            <span>{{this.formGroup.get(['accepted','sms']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon svgIcon="whatsapp" class="glyph-icon"></mat-icon>
                            <span>{{this.formGroup.get(['accepted','whatsapp']).value}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-detail-item" fxFlex="25">
                    <div fxFlex fxLayout="column" fxLayoutAlign="start center" *ngIf="data.status === status.Live">
                        <span class="subheading">Rejected</span>
                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">email</mat-icon>
                            <span>{{this.formGroup.get(['rejected','email']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon class="glyph-icon">sms</mat-icon>
                            <span>{{this.formGroup.get(['rejected','sms']).value}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="invitation-medium-part">
                            <mat-icon svgIcon="whatsapp" class="glyph-icon"></mat-icon>
                            <span>{{this.formGroup.get(['rejected','whatsapp']).value}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-detail-item" fxFlex="25">
                    <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="main-wrapper pending"
                        *ngIf="data.status === status.Live">
                        <span class="subheading">Pending</span>
                        <div class="hierarchy-wrapper email">
                            <div fxLayout="row" fxLayoutAlign="start center"
                                class="invitation-medium-part hierarchical">
                                <mat-icon class="glyph-icon">email</mat-icon>
                                <span>{{(this.formGroup.get(['delivery','email']).value > 0) ? this.formGroup.get(['pending','emailPending']).value : 0}}</span>
                            </div>

                            <div class="hierarchy-line">
                                <div class="hierarchical-inner-icons-wrapper">
                                    <mat-icon class="glyph-icon hierarchical">drafts</mat-icon>
                                    <span
                                        class="hierarchical-number">{{this.formGroup.get(['pending','emailOpened']).value}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="hierarchy-wrapper whatsapp">
                            <div fxLayout="row" fxLayoutAlign="start center"
                                class="invitation-medium-part hierarchical">
                                <mat-icon svgIcon="whatsapp" class="glyph-icon"></mat-icon>
                                <span>{{(this.formGroup.get(['delivery','whatsapp']).value > 0) ? this.formGroup.get(['pending','whatsappPending']).value : 0}}</span>
                            </div>

                            <div class="hierarchy-line whatsapp">
                                <div class="hierarchical-inner-icons-wrapper">
                                    <mat-icon class="glyph-icon hierarchical">done_all</mat-icon>
                                    <span
                                        class="hierarchical-number">{{this.formGroup.get(['pending','whatsAppRead']).value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <p class="list-detail-item" class="action-item">
                <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action"
                    (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #actionMenu="matMenu">
                    <button mat-menu-item *ngIf="data.status === status.Draft"
                        [routerLink]="['../'+ data.id +'/edit/config']">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item *ngIf="data.status === status.Live"
                        [routerLink]="['../'+ data.id +'/view/config']">
                        <mat-icon>description</mat-icon>
                        <span>View</span>
                    </button>
                </mat-menu>
            </p>
        </div>
    </div>
</div>