@import '../form-constants/form-styles.scss';
:host{
    ::ng-deep{
        .iti {
            direction: ltr !important;
        }
        .iti__country-list{
            background: rgba(255, 255, 255, 0.502);
            border-radius: 10px;
        }
        .iti__selected-flag {
            outline: none;
        }
    }
    .swipperForm_input {
        width: 82%;
    }
}