@import "../../../../../../constants/variables.scss";
.theme-section {
    padding: 10px 10px;
    width: 60%;
    height: 100%;
}

mat-button-toggle {
    height: 36px;
    .bg-opt{
        fill: $primary-color;
    }
    ::ng-deep mat-icon{
        font-size: 13px;
    }
    ::ng-deep .mat-button-toggle-label-content {
        line-height: 36px;;
    }
}
.mat-button-toggle-checked {
    .bg-opt{
        fill: $primary-color;
    }
  }
.backgroundThumbnail{
    height: 140px;
    width: 140px;
    background-size: cover !important;
    border-radius: 6%;
}