@import "../../../../../../constants/variables.scss";
:host {
    background-color: $secondary-light-color;
}
.wrapper{ 
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.109);
}
.headers {
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    .header-item {
        text-align: center;
        color: $primary-color;
    }
}
.selectable-space {
    margin-right: 16px;
    -ms-flex-order: 0;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 22px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    &.action {
        margin-right: 0px;
        width: 40px;
    }
}