<div class="main-area" [ngStyle]="{'background-image': image ? 'url('+image+')' : 'white'}">
    <div *ngIf="isLoading">{{message}}</div>
    <div *ngIf="!isLoading && !redirect">
        <div *ngIf="response.mediaType == 0">
            <irms-email-response [type]="response.acceptedOrRejected" [id]="response.campaignInvitationResponseId"
                [htmlData]="response.acceptedOrRejected == 1 ? response.acceptedHtml : response.rejectedHtml">
            </irms-email-response>
        </div>
        <div *ngIf="response.mediaType == 1">
            <irms-sms-response [welcome]="response.welcomeHtml" [rsvp]="response.rsvpHtml"
                [accepted]="response.acceptedHtml" [rejected]="response.rejectedHtml"
                [acceptedButton]="response.acceptButtonText"
                [rejectedButton]="response.rejectButtonText"
                [proceedButton]="response.proceedButtonText"
                [themeObj]="response.themeObj"
                [id]="response.campaignInvitationResponseId">
            </irms-sms-response>
        </div>
        <div *ngIf="response.mediaType == 2">
            <irms-whatsapp-response [welcome]="response.welcomeHtml" [rsvp]="response.rsvpHtml"
                [accepted]="response.acceptedHtml" [rejected]="response.rejectedHtml"
                [acceptedButton]="response.acceptButtonText"
                [rejectedButton]="response.rejectButtonText"
                [proceedButton]="response.proceedButtonText"
                [themeObj]="response.themeObj"
                [id]="response.campaignInvitationResponseId">
            </irms-whatsapp-response>
        </div>
    </div>
    <div *ngIf="!isLoading && redirect" class="redirect-message">
        <h2>You will be redirected {{redirectDestination}}</h2>
        <h4>Please be patient...</h4>
    </div>
</div>