<form [formGroup]="rejectedForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="save()"
    #formRef="ngForm">
    <irms-media-template-group [activeMedia]="activeMedia" [smsTemplate]="smsTemplate" [showRsvp]="false" [disabled]="!isLoaded"
    [emailTemplate]="emailTemplate" [whatsappTemplate]="whatsappTemplate" [step]="step"></irms-media-template-group>    
    
    <div class="info-tip" fxLayout="row">
        <mat-icon>how_to_vote</mat-icon>
        <div class="info-text" fxLayout="column">
            <h2>Request for more Information</h2>
            <p>Make the most out of your campaign by communicating with your rejected guests. <br>
            You can ask them to provide any additional information needed.</p>
        </div>
    </div>
    <div fxLayout="row" class="RFI">
        <button *ngIf="!rfiForm" type="button" mat-flat-button class="primary-button" (click)="createForm()">
            <mat-icon>add</mat-icon><span>Create form</span>
        </button>
        <irms-rfi-media-group *ngIf="rfiForm" [form]="rfiForm" fxFlex="100" (edit)="createForm()"></irms-rfi-media-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="form-field-group">
            <div fxLayout="row" fxLayoutAlign="start start">
                <irms-input-error [fieldLabel]="'Title'" class="mb-6" [inputControl]="rejectedForm.controls['name']" [charactersCount]="200">
                </irms-input-error>
            </div>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="isInstant">
                <mat-radio-button class="mb-12" [value]="true">Send this message Instantly</mat-radio-button>
                <mat-radio-button class="mb-12" [value]="false">
                    <irms-duration-input [fieldLabel]="'Send this message'" [afterText]="isFirstNode? 'Guests\' rejection' : 'preceeding message'"
                        [inputControl]="rejectedForm.controls['delay']"
                        [disabled]="rejectedForm.controls['isInstant'].value"  fxFlex="70">
                    </irms-duration-input>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</form>