<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <!-- <div class="email-header" fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <mat-label fxFlex="20" class="text-bold">Subject: </mat-label>
                <div fxFlex="80" class="value" *ngIf="templateData?.subject; else noValue">{{templateData.subject}}
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <mat-label fxFlex="20" class="text-bold">Preheader: </mat-label>
                <div fxFlex="80" class="value" *ngIf="templateData?.preheader; else noValue">{{templateData.preheader}}
                </div>
            </div>
        </div>
    </div> -->
    <div fxLayout="row" class="content">
        <mat-tab-group mat-stretch-tabs fxFlex="100">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>desktop_windows</mat-icon>
                    Desktop
                </ng-template>
                <iframe *ngIf="templateData?.body; else noContent" width="100%" height="100%" frameBorder="0"
                    [srcdoc]="templateData.body  | safehtml"></iframe>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>phone_iphone</mat-icon>
                    Mobile
                </ng-template>
                <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="mobile-preview-email">
                        <iframe *ngIf="templateData?.body; else noContentMobile" width="100%" height="100%"
                            frameBorder="0" [srcdoc]="templateData.body  | safehtml"></iframe>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>title</mat-icon>
                    Plain Text
                </ng-template>
                <div fxLayout="column" fxFill fxLayoutAlign="center center">
                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="plain-text">
                        <div class="plain-text-preview" fusePerfectScrollbar [innerText]="templateData?.plainBody">
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="80" class="noValue value">-</div>
</ng-template>
<ng-template #noContent>
    <div class="noContent">
        <h2 class="message">No Content</h2>
        <img src="../../../../../assets/images/illustration_no_content.svg" alt="No content" />
    </div>
</ng-template>
<ng-template #noContentMobile>
    <div class="noContentMobile">
        <h2 class="message">No Content</h2>
        <img src="../../../../../assets/images/illustration_no_content.svg" alt="No content" />
    </div>
</ng-template>