@import "../../../../../constants/variables.scss";
:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin-block-end: 25px;
}
.media-group {
    margin-block-end: 12px;
}
::ng-deep .landing-btn{
    text-decoration: none;
    border-bottom: none !important;
    margin: 0 !important;
}

::ng-deep .media-card .template-info span {
    text-decoration: none;
    border-bottom: none !important;
}
.media-card {
    min-height: 256px;
    max-height: 256px;
    height: 256px;
    border: $theme-box-border;
    padding: 16px 0px;
    mat-card-header {
        border-bottom: $theme-box-border;
        mat-card-title {
            font-size: 16px;
        }
    }
    mat-card-content {
        padding: 8px 7px;
    }
    &:hover {
        border-color: $accent-color;
        mat-card-header {
            border-bottom-color: $accent-color;
        }
    }
    ::ng-deep .mat-card-header-text {
        width: 100%;
    }
    .template-info {
        margin-block-start: 12px;
        margin-block-end: 12px;
        mat-label {
            font-weight: 600;
            color: #868686;
        }
        span {
            font-size: 18px;
            border-bottom: 1.5px solid $secondary-color;
        }
    }
    &.disabled {
        pointer-events: none;
        mat-card-header, .template-info span {
            color: $disable-color;
        }
    }
    &.expanded {
        min-height: 557px;
        max-height: 557px;
        height: 557px;
        overflow: hidden;
    }
    &.dialogView {
        max-width: 100% !important;
        min-width: 100% !important;
        width: 100% !important;
    }
}
.expanded {
    min-height: 557px;
    max-height: 557px;
    height: 557px;
    overflow: hidden;
}
.media-group {
    margin-block-end: 12px;
}
.landingBtn{
    margin-top:30px;
}

.secondary-button{
    ::ng-deep .mat-button-wrapper{
        border-bottom: none !important;
    }
}