<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px" class="media-group" 
[@expandMediaGroup]="editEmail || editSms || editWhatsapp">
    <irms-email-template-card *ngIf="activeMedia?.email" [@expandMediaCard]="!disabled && editEmail" [ngClass]="{'disabled': disabled, 'expanded': !disabled && editEmail}"
    [emailTemplate]="emailTemplate"
    [showRsvp]="showRsvp"
    [disabled]="disabled"
    [editEmail]="editEmail"
    [step]="step"
    [isReview]="isReview"
    (editEmailEvent)="handleExpand('email')"
    (emailPreview)="emailPreview()"
    (landingEmail)="landingEmail()"
    ></irms-email-template-card>

    <irms-sms-template-card *ngIf="activeMedia?.sms"
    [@expandMediaCard]="!disabled && editSms" [ngClass]="{'disabled': disabled, 'expanded': !disabled && editSms}"
    [smsTemplate]="smsTemplate"
    [showRsvp]="showRsvp"
    [disabled]="disabled"
    [editSms]="editSms"
    [step]="step"
    [isReview]="isReview"
    (editSmsEvent)="handleExpand('sms')"
    (smsPreview)="smsPreview()"
    (landingSms)="landingSms()">
    </irms-sms-template-card>

    <irms-whatsapp-template-card *ngIf="activeMedia?.whatsapp"
    [@expandMediaCard]="editWhatsapp && !disabled" [ngClass]="{'disabled': disabled, 'expanded': !disabled && editWhatsapp}"
    [whatsAppTemplate]="whatsappTemplate"
    [showRsvp]="showRsvp"
    [disabled]="disabled"
    [editWhatsApp]="editWhatsapp"
    [isLanding]="isLanding"
    (botWhatsApp)="whatsappBotConfig()"
    (editWhatsAppEvent)="handleExpand('whatsapp')"
    (whatsAppPreview)="whatsAppPreview()"
    (landingWhatsApp)="landingWhatsApp()"></irms-whatsapp-template-card>
</div>