@import "src/app/constants/variables.scss";
.upload-file-btn{
  position: relative;
  .mat-flat-button {
    margin-inline-end: 0px !important;
  }
}
.upload-file-btn.invalid{
  .mat-flat-button{
    background-color: $warn-color;
  }
}
.required{
  color: red;
  position: absolute;
  right: -9px;
  top: -8px;
}
