<div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" class="tags-section" *ngIf="tags && tags.length > 0">
    <div fxLayout="column" fxFlex="100">
        <ng-container *ngIf="showDescription">
            <h1 class="text-bold no-offset">Tags</h1>
            <mat-hint ngNonBindable>
                Tags allow you to easily add information stored as custom fields to your message content. For contacts
                with no data in a custom field, the tag will be blank.
                <br>To use a default value instead, use the following format: <span
                    class="text-bold">{{full_name | Valued Guest}}</span>
            </mat-hint>
        </ng-container>
        
        <div fxLayout="row">
            <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for tags'" [emitQuery]="true"
                (searchText)="searchTags($event)">
            </irms-generic-search-bar>
        </div>
        <div class="tags-area" fxLayout="row">
            <div class="chips" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                <div class="chip2" [@animate]="{value:'*',params:{y:'100%'}}"
                    *ngFor="let tag of selectedTags | filterKeyword : tagSearchKeyword" (click)="addTag(tag.placeholder)">
                    <div>{{tag.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>