<div class="thumbnail-container" *ngIf="!loading && hasTemplate" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}">
    <img *ngIf="thumbnail && !disabled" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}" [style.background-image]="doPathUrl(thumbnail)" class="image" src="{{transparentSource}}">
    <img *ngIf="!thumbnail && disabled" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}" class="image no-type empty" src="{{transparentSource}}">
    <img *ngIf="!thumbnail && !disabled" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}" class="image no-thumb" src="{{transparentSource}}">
    <div [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}" class="hover-overlay" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="edit-button" mat-flat-button (click)="editTemplate()" [disabled]="disabled">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-icon>edit</mat-icon>
                <h3>Edit</h3>
            </div>
        </button>
    </div>
</div>
<div class="thumbnail-container" *ngIf="!loading && !hasTemplate" >
    <img class="image" src="{{transparentSource}}" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}">
    <div class="add-content" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="add-button secondary2-button" mat-flat-button (click)="newTemplate()"
            [disabled]="disabled">
            <div [innerText]="addContentText"></div>
        </button>
    </div>
</div>

<div *ngIf="loading" class="thumbnail-container">
    <img class="image" src="{{transparentSource}}" [@animate]="{value:'*',params:{duration:'500ms',y:'0%'}}">
    <div class="add-content" fxLayout="row" fxLayoutAlign="center center">
        <svg role="img" width="100%" height="100%" viewBox="0 0 319 259" aria-labelledby="loading-aria"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="9.5" y="9.5" rx="15" ry="15" width="300" height="240" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>