@import "../../../../../constants/variables.scss";

.thumbnail-container {
    position: relative;
    width: 100%;
    &:hover {
        .image {
            opacity: 0.7;
        }
        .hover-overlay {
            opacity: 1;
            border: 2px solid $accent-color;
        }
    }
    .add-content {
        cursor: pointer;
        border-radius: 6px;
        transition: .3s ease;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: $theme-box-border;
        text-align: center;
        .add-button{
            width: 100%;
            height: 100%;
            margin-inline-end: 0px !important;
        }
    }

    .image {
        border-radius: 6px;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .7s ease;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        border: $theme-box-border;
    }

    .hover-overlay {
        border-radius: 6px;
        transition: .3s ease;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(149, 149, 149, 0.52);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        .edit-button {
            background-color: transparent;
            color: $theme-white;
            width: 100%;
            height: 100%;
        }
    }
}
.no-thumb {
    -webkit-box-shadow: inset 0px 0px 107px 12px rgba(177, 177, 179, 0.5);
    -moz-box-shadow: inset 0px 0px 107px 12px rgba(177, 177, 179, 0.5);
    box-shadow: inset 0px 0px 107px 12px rgba(177, 177, 179, 0.5);
}