@import "../../../../../../constants/variables.scss";

.content-section {
    padding: 10px 10px;    
    height: 100%;

    .content-sub-section {
        padding: 20px 10px;
        border: $theme-box-border;
        background-color: $theme-white;
        margin: 5px 0px;
        border-radius: 9px;

        .button-input {
            width: 65%;
            padding: 2%;
            border-radius: 4px;
            margin-top: 10px;
            margin-inline-end: 0px;
            text-align: center;
        }

        &:hover {
            .bottom {
                visibility: visible;
            }
        }

        .bottom {
            visibility: hidden;

            .add {
                &:hover {
                    background: $accent-color;
                    color: #fff;
                }
            }
        }
    }
}

.content-type {
    margin-block-end: 12px;

    .type-chip {
        background-color: $primary-color;
        display: flex;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
        height: 32px;
        min-width: 57px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-radius: 4px;
        padding: 0px 7px;
        margin-right: 4px;
        color: $theme-white;

        .required {
            position: absolute;
            right: -7px;
            top: -6px;
            color: red;
        }
    }
}

.type-icon {
    color: #fff !important;
    width: 32px;
    height: 31px;
    border-radius: 9px;
    padding: 3px 0px;
    text-align: center;
}

.empty-option {
    color: $accent-color;

    mat-icon {
        cursor: pointer;
    }

    span {
        vertical-align: super;
        padding-left: 7px;
    }
}

.question {
    padding: 0px 11px;
    width: 100%;

    .question-arabic {
        direction: rtl;
    }

    textarea,
    input {
        background: none;
        border: none;
        outline: none;
        font-size: 18px;
        width: 100%;
        color: $primary-color;
        resize: none;
    }

    .options {
        margin-top: 3px;

        .option {
            width: auto;
            font-size: 15px;
            padding: 10px;
            border: $theme-border;
            border-radius: 31px;

            &:hover {
                border-color: $accent-color;
            }

            .drag-ico {
                color: $secondary-color;
                font-size: 14px;
                cursor: move;
            }

            textarea,
            input {
                font-size: inherit;
                width: auto;
                background: none;
                border: none;
                outline: none;
                resize: none;
            }

            &:hover {
                .option-buttons {
                    visibility: visible;
                }
            }

            .code-input {
                width: 20px;
                margin-right: 16px;
                position: relative;

                .floating-label {
                    position: absolute;
                    pointer-events: none;
                    top: 53%;
                    font-size: 12px;
                    transition: 0.2s ease all;
                }

                .value {
                    text-align: center;
                    padding: 2px 4px;
                    width: 90%;
                    margin-right: 15px;
                }
            }

            .option-buttons {
                visibility: hidden;

                .add {
                    cursor: pointer;
                    color: $accent-color;

                }

                .delete {
                    cursor: pointer;
                    color: $secondary-color;
                }

                ::ng-deep .type {
                    align-items: center;
                    width: 60px;
                    height: 24px;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    border-radius: 4px;
                    padding: 0px 6px;
                    color: #fff;
                }

            }
        }
    }

    ::-webkit-input-placeholder {
        color: $disable-dark-color;
    }

    :-moz-placeholder {
        color: $disable-dark-color;
    }

    ::-moz-placeholder {
        color: $disable-dark-color;
    }

    :-ms-input-placeholder {
        color: $disable-dark-color;
    }

    ::placeholder {
        color: $disable-dark-color;
    }

    .mapping-section {
        background: #d9d9d97d;
        padding: 2px 22px;
        border-radius: 7px;
        .question-indicator {
            margin-bottom: 3%;
            margin-right: 2%;
            .number {
                padding: 10px;
                font-size: 17px;
                font-weight: 600;
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}
::ng-deep body.theme-default .mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba(172, 172, 172, 0.49) !important;
}
.drawer {
    height: 100%;
    width: 38%;
    max-width: 38%;
    border-right: 1px solid rgba(204, 204, 204, 0.26);
  }
  
  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  
    h6 {
      font-size: 15px;
    }
  }
  mat-drawer-container .mat-drawer-content {
    background: #f0f0f0 !important;
  }
  .addCust {
    margin-top: 15px;
    margin-left: 77px;
    background: rgba(42, 200, 184, 0.13);;
    padding: 2px 22px;
    border-radius: 7px;
}
  .noHeight{
      min-height: 0px;
      max-height: 0px;
      height: 0px;
  }