<div class="review-container">
    <div class="questions-container">
        <div class="review-question" *ngFor="let question of questions; let i = index">
            <h3 *ngIf="!isArabic" [ngStyle]="{'color': theme.questions.color}"><span class="question-number" [ngStyle]="{'color': theme.answers.color}">{{i+1}}
                <svg [ngStyle]="{'fill': theme.answers.color}" height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
            </span>{{question.headline}}
                <span *ngIf="!question.required" class="optionalIndicator"> Optional</span></h3>
            <h3 *ngIf="isArabic" [ngStyle]="{'color': theme.questions.color}">
                <span class="question-number" [ngStyle]="{'color': theme.answers.color}">{{i+1}}
                    <svg [ngStyle]="{'fill': theme.answers.color}" transform='rotate(180)' height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                </span>
                {{question.headlineArabic}}
                <span *ngIf="!question.required" class="optionalIndicator">اختياري</span></h3>
            <div *ngIf="!isArabic && question.description" class="description">{{question.description}}</div>
            <div *ngIf="isArabic && question.descriptionArabic" class="description">{{question.descriptionArabic}}</div>
            <irms-single-option *ngIf="question.type == 'select'" [isArabic]="isArabic" [theme]="theme"
                [inputControl]="responseFormGroup.get(question.id)" [question]="question" [reviewMode]="true"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()">
            </irms-single-option>
            <irms-multi-option *ngIf="question.type == 'selectSearch'" [isArabic]="isArabic" [reviewMode]="true"
                [theme]="theme" [inputControl]="responseFormGroup.get(question.id)" [question]="question"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()" >
            </irms-multi-option>
            <irms-text-answer [isArabic]="isArabic" [reviewMode]="true"
                *ngIf="(question.type == 'singleLineText' || question.type == 'email' || question.type == 'multilineText')"
                [theme]="theme" [inputControl]="responseFormGroup.get(question.id)" [question]="question"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-text-answer>
            <irms-phone-number [isArabic]="isArabic" [reviewMode]="true" *ngIf="question.type == 'phone'" [theme]="theme"
                [inputControl]="responseFormGroup.get(question.id)" [question]="question"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-phone-number>
            <irms-icon-rating [isArabic]="isArabic" [reviewMode]="true" *ngIf="question.type == 'rating'" [theme]="theme"
                [inputControl]="responseFormGroup.get(question.id)" [question]="question"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-icon-rating>
            <irms-date-field [isArabic]="isArabic" [reviewMode]="true" *ngIf="question.type == 'date'" [theme]="theme"
                [inputControl]="responseFormGroup.get(question.id)" [question]="question"
                (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()" ></irms-date-field>
        </div>
    </div>
    <div class="submit-area">
        <button mat-button *ngIf="!isArabic" (click)="submitForm()" class="submit-button"
        [ngStyle]="{'color': theme.buttons.text, 'background-color': theme.buttons.background}"
        [disabled]="saveLoading || responseFormGroup.valid !== true" [class.buttonSpinner]="saveLoading">
        Submit
        </button>
        <button  mat-button *ngIf="isArabic" (click)="submitForm()" class="submit-button"
            [ngStyle]="{'color': theme.buttons.text, 'background-color': theme.buttons.background}"
            [disabled]="saveLoading || responseFormGroup.valid  !== true" [class.buttonSpinner]="saveLoading">
            تقدم
        </button>
    </div>
</div>

<!-- <p>
    
    {{responseFormGroup.value | json}}
</p> -->
