.action-item {
    -ms-flex-order: 0;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.title {
    text-align: left;
    width: 15vw;
}
.title, .guests {
    margin-block-start: 3px;
    margin-block-end: 3px;
}
.date {
    text-align: left;
}