.parent{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
.loadmore{
    min-width: 63%;
    width: 63%;
    max-width: 63%;
    a{
        cursor: pointer;
    }
}
.channels{
    padding-top:6vh;
}
.selectedFields{
    max-height: 20vh;
    overflow-x: hidden;
}