<div class="main-block">
    <div class="main-block-header">
        <button *ngIf="date?.isInstant" class="mat-flat-button secondary-button main-block-header-text blocked">Send the invitation instantly</button>
        <button *ngIf="!date?.isInstant" class="mat-flat-button secondary-button main-block-header-text blocked">Send the invitation after {{date.interval}} {{timePeriodUnits[date.intervalType]}}</button>
    </div>

    <irms-invitation-view-media-template  [fullWidth]="fullWidth" [templateStatistics]="statistics.controls['email']" [templateType]="0"
        [template]="emailTemplate" [isAcceptedRejected]="isAcceptedRejected">
    </irms-invitation-view-media-template>

    <irms-invitation-view-media-template [fullWidth]="fullWidth" [templateStatistics]="statistics.controls['sms']" [templateType]="1"
        [template]="smsTemplate" [isAcceptedRejected]="isAcceptedRejected">
    </irms-invitation-view-media-template>

    <irms-invitation-view-media-template [fullWidth]="fullWidth" [templateStatistics]="statistics.controls['whatsapp']" [templateType]="2"
        [template]="whatsappTemplate" [isAcceptedRejected]="isAcceptedRejected">
    </irms-invitation-view-media-template>
</div>