input[type="radio"] {
    display: none;

    &:checked {
        &+.answer_block {
            // background-color: rgba(69, 138, 130, 0.103);
            border: 3px solid rgba(68, 68, 68, 0.27);
            background-color: rgba(184, 184, 184, 0.424);
            cursor: default;
        }
    }
}


.answer_block {
    border: 1px solid rgba(68, 68, 68, 0.27);
    background-color: rgba(148, 148, 148, 0.27);
    border-radius: 3px;
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background-color: rgba(77, 77, 77, 0.27);
    }

}

::ng-deep .mat-autocomplete-panel{
    max-height: 145px !important;
}
::ng-deep .auto-dropdown {
    line-height: 2;
}