<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                        arrow_back
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{
                                value: '*',
                                params: { delay: '100ms', x: '-25px' }
                            }">
                        {{guestName}}
                    </span>
            </div>
            <!-- / APP TITLE -->
            <div *ngIf="guest?.status">
                <span class="chip2">{{guest.status}}</span> 
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <div class="toolbar" [@animate]="{
            value: '*',
            params: { delay: '120ms', scale: '0.2' }
        }" fxLayout="row">
                <div class="toolbar-actions content-card" fxFlex fxLayout="row" *ngIf="guest">
                    <div class="date-info-item" fxLayout="column" fxLayoutAlign="center center">
                        <mat-hint>Date Added</mat-hint>
                        <h1>{{guest.dateAdded | date}}</h1>
                    </div>
                    <div class="date-info-item" fxLayout="column" fxLayoutAlign="center center" *ngIf="this.guest.dateUpdated">
                        <mat-hint>Last Updated</mat-hint>
                        <h1 *ngIf="guest.dateUpdated">{{guest.dateUpdated | date}}</h1>
                        <h1 *ngIf="!guest.dateUpdated"> - </h1>
                    </div>
                </div>
            </div>
            <div class="toolbar list-actions" [@animate]="{
                value: '*',
                params: { delay: '120ms', scale: '0.2' }
            }" fxLayout="row">
            </div>
            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link
                    *ngFor="let tab of tabGroup"
                    [routerLink]="tab.link"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{tab.label}}
                    </a>
                    </nav>
                    <router-outlet></router-outlet>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>