<div fxLayout="column" fxLayoutAlign="start stretch" fusePerfectScrollbar class="theme-section" >
    <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Questions</span>
        <irms-generic-color-picker [color]="theme.get('questions.color')"></irms-generic-color-picker>
    </div>
    <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Answers</span>
        <irms-generic-color-picker [color]="theme.get('answers.color')"></irms-generic-color-picker>
    </div>
    <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Buttons</span>
        <irms-generic-color-picker [color]="theme.get('buttons.background')"></irms-generic-color-picker>
    </div>
    <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Button Text</span>
        <irms-generic-color-picker [color]="theme.get('buttons.text')"></irms-generic-color-picker>
    </div>
    <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Background Color</span>
        <irms-generic-color-picker [color]="theme.get('background.color')"></irms-generic-color-picker>
    </div>
    <div class="form-field" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Background Image*</span>
        <div class="upload-btn" *ngIf="!theme.get('background.image').value">
            <irms-croppie-btn [title]="'Add'" [inputControl]="theme.get('background.image')" [options]="croppieOptions">
            </irms-croppie-btn>
        </div>
    </div>
    <div class="form-field" fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutAlign="start center">
            <div *ngIf="theme.get('background.image').value" class="backgroundThumbnail"
                [style.background]="'url('+theme.get('background.image').value+')'"></div>
            <mat-button-toggle-group *ngIf="theme.get('background.image').value"
                [formControl]="theme.get('background.style')">
                <mat-button-toggle value="cover" title="cover">
                    <svg class="bg-opt" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 3v3h1V3h-1zm-8 8V8H2v3h1zM2 0h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 11v1h4v-1H2zm6-9v1h4V2H8z"
                            fill-rule="evenodd"></path>
                    </svg>
                </mat-button-toggle>
                <mat-button-toggle value="repeat" title="repeat">
                    <svg class="bg-opt" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="evenodd">
                            <path
                                d="M1 0h3v4H0V1a1 1 0 0 1 1-1zM5 0h4v4H5zM10 0h3a1 1 0 0 1 1 1v3h-4V0zM0 5h4v4H0zM5 5h4v4H5zM10 5h4v4h-4zM0 10h4v4H1a1 1 0 0 1-1-1v-3zM5 10h4v4H5zM10 10h4v3a1 1 0 0 1-1 1h-3v-4z">
                            </path>
                        </g>
                    </svg>
                </mat-button-toggle>
                <mat-button-toggle value="no-repeat" title="no-repeat">
                    <svg class="bg-opt" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="evenodd">
                            <rect width="10" height="10" rx="1"></rect>
                            <path
                                d="M0 7h1v6h12V1H7V0h6a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7zm0 0h1v6h12V1H7V0h6a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7z"
                                fill-rule="nonzero"></path>
                        </g>
                    </svg>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <button *ngIf="theme.get('background.image').value" mat-icon-button #upload (click)="deleteBackground()"
            class="secondary2-button negative">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>