<div class="summary-container" fxLayout="column" fxFill *ngIf="isDataLoaded ; else loading">
    <div class="summary-chart"></div>
    <div class="summary-area" fxLayout="column" >
        <div *ngFor="let question of responseSummary.questions; let qIndex = index" class="response-item" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxLayoutAlign="start">
            <h3 class="question-number" fxFlex="5">Q {{qIndex + 1}}.</h3>
            <div class="question-container" fxFlex fxFill fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="question">{{question.question.headline || question.question.headlineArabic}}</h3>
                    <span class="chip2" *ngIf="question.questionMappingType">Mapped to Guest's &nbsp;<span
                        class="mapping">{{question.mappedField}}</span></span>
                </div>
                <mat-hint>{{question.answeredCount}} out of {{responseSummary.responseCount}} people answered this question</mat-hint>
                <div class="response-collection" *ngIf="pollTypes.indexOf(question.question.type) > -1"
                    fxLayout="column">
                    <div *ngFor="let response of question.responses; index as i">
                        <div [id]="response.id" class="option"
                        fxLayout="row" fxLayoutAlign="space-between center" *ngIf="i < options[question.sortOrder-1]">
                            <h3 class="option-label" fxFlex="20">{{response.option}}</h3>
                            <div class="results" fxFlex="80">
                                <div class="on" [style.width.%]="response.percent">
                                    <span class="count">{{response.percent}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button *ngIf="options[question.sortOrder-1] < question.answeredCount" (click)="options[question.sortOrder-1] = options[qIndex] + 5" mat-button class="secondary2-button" [irmsButtonLoader]="loadButton.indexOf(question.id) > -1">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                            <span>View more responses</span>
                        </button>
                        <button *ngIf="options[question.sortOrder-1] > 5" (click)="options[qIndex] = 5" mat-button class="secondary2-button">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                            <span>Collapse</span>
                        </button>
                    </div>
                </div>
                <div class="response-collection " *ngIf="listTypes.indexOf(question.question.type) > -1"
                    fxLayout="column">
                    <div class="list-area" fxLayout="column">
                        <div class="list" [ngClass]="{'list-partial': !question.additionalResponses && question.answeredCount > 3 }">
                            <div *ngFor="let response of question.responses" [id]="response.id" class="option"
                            fxLayout="row">
                                <div class="response-text">{{response.response}}</div>
                            </div>
                        </div>
                        <div class="list" *ngIf="question.additionalResponses">
                            <div *ngFor="let response of question.additionalResponses" [id]="response.id" class="option"
                            fxLayout="row">
                                <div class="response-text">{{response.response}}</div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button *ngIf="(question.responses.length + question.additionalResponses?.length) < question.answeredCount" (click)="loadMoreResponses(qIndex)" mat-button class="secondary2-button" [irmsButtonLoader]="loadButton.indexOf(question.id) > -1">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                            <span>View more responses</span>
                        </button>
                        <button *ngIf="question.additionalResponses" (click)="collapseResponses(qIndex)" mat-button class="secondary2-button">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                            <span>Collapse</span>
                        </button>
                    </div>
                </div>
                <div class="response-collection" *ngIf="question.question.type === 'rating'">
                    <div *ngFor="let response of question.responses; let starCount = index" [id]="response.id" class="option"
                    fxLayout="row" fxLayoutAlign="space-between center">
                        <h3 class="option-label" fxFlex="20" fxLayout="row">
                                <mat-icon *ngFor="let star of emptyArray(starCount + 1)">star</mat-icon>
                                <mat-icon *ngFor="let star of emptyArray(4 - starCount)">star_border</mat-icon>
                        </h3>
                        <div class="results" fxFlex="80">
                            <div class="on" [style.width.%]="response.percent" >
                                <span class="count">{{response.percent}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<ng-template #loading>
    <div fxLayout="column" fxFill>
        <irms-generic-content-loader [loaderType]="'event-card'"></irms-generic-content-loader>
        <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
    </div>
</ng-template>