<div fxLayout="column" fxLayoutAlign="start stretch" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}" class="content-section">
    <div class="toggleDiv" fxLayoutAlign="end center">
        <mat-slide-toggle [disabled]="!canCopyTemplate" (change)="copyTemplate($event.checked, media)">Use same template as
            {{media == 'SMS' && media != null? 'WhatsApp':'SMS'}}</mat-slide-toggle>
    </div>
    <div class=" info-tip" fxLayout="row">
        <mat-icon>info</mat-icon>
        <div class="info-text" *ngIf="!responseOnlyMode">Guests will see this form page to give their RSVP response.
            Add the <span ngNonBindable>{{rsvp_from_link}}</span> tag to your SMS content</div>
        <div class="info-text" *ngIf="responseOnlyMode">Guests will see this page after they click RSVP
            accept/reject link</div>
    </div>
    <div *ngIf="!responseOnlyMode && stepper == 0" [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}"
        class="content-sub-section" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="welcome">
        <!-- <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
            <span class="type-chip">Welcome</span>
        </div> -->
        <editor (onClick)="setCurrentEditor($event.editor)" (onInit)="edit($event, 'welcome')"
            [id]="'welcome'" [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="content"></editor>
        <irms-rsvp-form-editor-tags (onTagAdded)="addTag($event, 'welcome')" [showDescription]="true">
        </irms-rsvp-form-editor-tags>
        <div fxLayout="row" fxLayoutAlign="start center">
            <input class="button-input secondary-button" formControlName="button" type='text'
                (click)="setCurrentEditor('welcome')" placeholder="Proceed Button Text">
        </div>
    </div>
    <div *ngIf="!responseOnlyMode && stepper == 1" class="content-sub-section"
        [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}" fxLayout="column" fxLayoutAlign="start stretch"
        [formGroup]="rsvp">
        <!-- <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
            <span class="type-chip">RSVP</span>
        </div> -->
        <editor (onClick)="setCurrentEditor($event.editor)" (onInit)="edit($event, 'rsvp')" [id]="'rsvp'"
            [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="content"></editor>
        <irms-rsvp-form-editor-tags (onTagAdded)="addTag($event, 'rsvp')" [showDescription]="false">
        </irms-rsvp-form-editor-tags>
        <div fxLayout="row" fxLayoutAlign="start center">
            <input class="button-input secondary-button" formControlName="acceptButton" type='text'
                (click)="setCurrentEditor('rsvp')" placeholder="Accept Button Text">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <input class="button-input secondary-button" formControlName="rejectButton" type='text'
                (click)="setCurrentEditor('rsvp')" placeholder="Reject Button Text">
        </div>
    </div>
    <div *ngIf="stepper == 2" [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}" class="content-sub-section"
        fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="accept">
        <!-- <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
            <span class="type-chip">Accepted Invitation</span>
        </div> -->
        <editor (onClick)="setCurrentEditor($event.editor)" (onInit)="edit($event, 'accepted')"
            [id]="'accepted'" [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="content"></editor>
        <!-- <irms-rsvp-form-editor-tags (onTagAdded)="addTag($event, 'accepted')" [showDescription]="false">
        </irms-rsvp-form-editor-tags> -->
    </div>
    <div *ngIf="stepper == 3" [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}" class="content-sub-section"
        fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="reject">
        <!-- <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
            <span class="type-chip">Rejected Invitation</span>
        </div> -->
        <editor (onClick)="setCurrentEditor($event.editor)" (onInit)="edit($event, 'rejected')"
            [id]="'rejected'" [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="content"></editor>
        <!-- <irms-rsvp-form-editor-tags (onTagAdded)="addTag($event, 'rejected')" [showDescription]="false">
        </irms-rsvp-form-editor-tags> -->
    </div>
</div>