@import "../../../../../../constants/variables.scss";
.template-card {
    width: 300px;
    height: 200px;
    background-color: $secondary-color !important;
    // border: 0.13em solid $accent-color;
    margin: 7px;
    border-radius: 11px;
    mat-card-footer {
        padding: 0px 16px;
    }
    &:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 5px 8px rgba(0, 0, 0, 0.12) !important;
    }
}