<h2 mat-dialog-title>Select fields for export</h2>

<mat-dialog-content class="menu">
    <h3>
        <mat-checkbox [(ngModel)]="all" (change)="onAllChange($event.checked)">All</mat-checkbox>
    </h3>
    <form [formGroup]="formGroup" class="form">

        <div class="block" gdColumns="auto auto auto">
            <mat-checkbox formControlName="eventName" *ngIf="!data?.isFromContactModule">Event name</mat-checkbox>
            <mat-checkbox formControlName="preferredName">Preffered name</mat-checkbox>
            <mat-checkbox formControlName="alternativeEmail">Alternative email</mat-checkbox>
            <mat-checkbox formControlName="secondaryMobileNumber">Secondary mobile number</mat-checkbox>
            <mat-checkbox formControlName="documentNumber">Document number</mat-checkbox>
            <mat-checkbox formControlName="organization">Organization</mat-checkbox>
            <mat-checkbox formControlName="createdBy">Created by</mat-checkbox>
            <mat-checkbox formControlName="modifiedBy">Modified by</mat-checkbox>

            <mat-checkbox formControlName="title">Title</mat-checkbox>
            <mat-checkbox formControlName="gender">Gender</mat-checkbox>
            <mat-checkbox formControlName="mobileNumber">Mobile number</mat-checkbox>
            <mat-checkbox formControlName="nationality">Nationality</mat-checkbox>
            <mat-checkbox formControlName="issuingCountry">Issuing country</mat-checkbox>
            <mat-checkbox formControlName="position">Position</mat-checkbox>
            <mat-checkbox formControlName="creatorEmail">Creator email</mat-checkbox>
            <mat-checkbox formControlName="modifierEmail">Modifier email</mat-checkbox>

            <mat-checkbox formControlName="fullName">Full name</mat-checkbox>
            <mat-checkbox formControlName="email">Email</mat-checkbox>
            <mat-checkbox formControlName="workNumber">Work number</mat-checkbox>
            <mat-checkbox formControlName="documentType">Document type</mat-checkbox>
            <mat-checkbox formControlName="expirationDate">Expiration date</mat-checkbox>
            <mat-checkbox formControlName="isGuest">Is guest</mat-checkbox>
            <mat-checkbox formControlName="createdOn">Created on</mat-checkbox>
            <mat-checkbox formControlName="modifiedOn">Modified on</mat-checkbox>

            <mat-checkbox *ngFor="let field of t.controls; index as i" [formControl]="field">{{customFieldNames[i]}}
            </mat-checkbox>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="confirm()" [disabled]="formGroup?.invalid">Export</button>
</mat-dialog-actions>