.menu {
    h3 {
        font-weight: 600;
    }
    .form {
        height: 90%;
        overflow: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .block {
            display: flex;
            flex-direction: column;
        }
    }
    min-height: 83vh;
}