<div *ngIf="readyToRender" id="{{question.id}}" class="rating">
      <input class="hidden-input" autofocus />
      <star-rating [value] ="rateValue" totalstars="5"
      [checkedcolor]="theme.answers.color"
      uncheckedcolor="rgba(128, 128, 128, 0.3803921568627451)"
      size="33px" readonly="false"
      (rate)="onRate($event)"></star-rating>
</div>
<div class="error-message" *ngIf="inputControl.hasError('required')">
      <span *ngIf="isArabic">اختر واحدة</span>
      <span *ngIf="!isArabic">Please select one</span>
</div>