<div fxLayout="column" class="container">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="90">
            <h1>WhatsApp Opt-In</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-flat-button class="secondary-button"><span>Save</span></button>
            <button mat-flat-button class="primary-button"><span>Submit</span></button>
        </div>
    </div>
    <form [formGroup]="configForm" fxLayout="column" fxLayoutAlign="start" (ngSubmit)="update(true)" #formRef="ngForm">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
            <div class="list-icon" mat-list-icon fxFlex="24px"><span>1</span></div>
            <div fxFlex="74">
                <h3>What is the name of this campaign?</h3>
                <irms-input-error [fieldLabel]="'Campaign name'" [inputControl]="configForm.controls['name']"
                    [errorRangeText]="'Campaign name must be between 2 and 200 characters.'" [charactersCount]="200"
                    [required]="true" *ngIf="isDataLoaded ; else loading">
                </irms-input-error>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            <div mat-list-icon class="list-icon" fxFlex="24px"><span>2</span></div>
            <div fxFlex="74">
                <h3> When will your contacts enter the campaign?</h3>
                <mat-hint>A campaign can be triggered when someone is added to a list</mat-hint>
                <h3>ENTRY CRITERIA <span class="required">*</span></h3>
                <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group" fxFill>
                    <mat-form-field appearance="outline" fxFlex="50" *ngIf="isDataLoaded ; else loading">
                        <mat-label>
                            Criteria type
                        </mat-label>
                        <mat-select [formControl]="configForm.controls['entryCriteriaTypeId']">
                            <mat-option *ngFor="let type of criteriaTypeList" [value]="type.id">
                                {{type.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="configForm.controls.entryCriteriaTypeId.hasError('required')">
                            Select an action
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" *ngIf="isDataLoaded ; else loading">
                        <mat-label>
                            Guest list
                        </mat-label>
                        <mat-select [formControl]="configForm.controls['guestListId']">
                            <mat-option (click)="CreateList()">
                                <button mat-flat-button class="secondary-button">
                                    <mat-icon>add</mat-icon><span>Create New List</span>
                                </button>
                            </mat-option>
                            <mat-option *ngFor="let list of guestLists" [value]="list.id">
                                {{list.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="configForm.controls.guestListId.hasError('required')">
                            Select a guest list
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="reachability-container" fxLayout="row">
                    <div fxFlex="25" fxLayoutAlign="center center">
                        <button type="button" mat-flat-button class="secondary-button" (click)="checkReachability()"
                            [disabled]="!configForm.controls.guestListId.value"
                            [irmsButtonLoader]="reachabilityLoading">
                            Check Reachability
                        </button>
                    </div>
                    <div fxFlex>
                        Checking reachability is a great way to ensure that your campaign is delivered to
                        all of your guests through the preffered communication channels that you will be able to set for
                        them.
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
            <div fxFlex="24px"></div>
            <div fxFlex="74">
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <h3>COMMUNICATION MEDIA PREFERRED</h3>
                    <div fxLayout="column" fxLayoutAlign="start center" class="form-field-group">
                        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="media-stats">
                            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <mat-checkbox></mat-checkbox>
                                    <mat-icon>email</mat-icon>
                                    <span>Email</span>
                                </div>
                                <span class="value">{{prefferedMediaStats?.emailCount}}</span>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-checkbox></mat-checkbox>
                                    <mat-icon>sms</mat-icon>
                                    <span>SMS</span>
                                </div>
                                <span class="value">{{prefferedMediaStats?.smsCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="exit-criteria" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
            <div class="list-icon" mat-list-icon fxFlex="24px"><span>3</span></div>
            <div fxFlex="74">
                <h3>When will your contacts leave this campaign?</h3>
                <mat-hint>Decide whether contacts will receive all emails in the series or exit when they no longer meet
                    the entry criteria.</mat-hint>
                <h3>EXIT CRITERIA <span class="required">*</span></h3>
                <div fxLayout="row" fxLayoutAlign="start center" class="form-field-group">
                    <mat-radio-group aria-label="attendees" [formControl]="configForm.controls['exitCriteriaType']"
                        required fxLayout="column" fxLayoutAlign="start" *ngIf="isDataLoaded ; else loading">
                        <mat-radio-button value="1"
                            [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 1">
                            Contacts have received all emails in the campaign
                        </mat-radio-button>
                        <mat-radio-button value="2"
                            [checked]="configForm.controls['exitCriteriaType'] && configForm.controls['exitCriteriaType'].value == 2">
                            Contacts no longer meet the entry criteria</mat-radio-button>
                        <mat-error *ngIf="configForm.controls.exitCriteriaType.hasError('required')">
                            Select an exist type criteria
                        </mat-error>
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <div class="exit-criteria" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
            <div class="list-icon" mat-list-icon fxFlex="24px"><span>3</span></div>
            <div fxFlex="74" fxLayout="column">
                <h3>What communication messages are included in your campaign?</h3>
                <mat-hint>You can choose a single message or a series of messages to be sent to your guests to Opt-In
                    WhatsApp.</mat-hint>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div class="form-field-group">
                            <mat-radio-group fxLayout="column" fxLayoutAlign="start start"
                                [formControl]="configForm.controls['isInstant']">
                                <mat-radio-button class="mb-12" [value]="true">Send invitation instantly
                                </mat-radio-button>
                                <mat-radio-button [owlDateTimeTrigger]="dtTrigger" class="mb-12" [value]="false"
                                    (click)="configForm.controls['isInstant'].setValue(false)">
                                    <mat-label>
                                        Send this reminder at
                                    </mat-label>
                                    <input readonly [disabled]="configForm.controls['isInstant'].value" matInput
                                        [min]="min" [formControl]="configForm.controls['delay']"
                                        [owlDateTime]="dtTrigger" autocomplete="off" />
                                    <owl-date-time #dtTrigger></owl-date-time>
                                    <mat-error *ngIf="false">
                                        Please enter a valid date.
                                    </mat-error>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                </div>
                <div fxLayout="column">
                    <div *ngFor="let message of msgArray.controls; index as i " fxLayoutAlign="center stretch"
                        fxLayout="column">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div class="message-container">
                                <span fxLayout="row" fxLayoutAlign="center center">
                                    <mat-label class="cont-text">
                                        Send this reminder
                                    </mat-label>
                                    <mat-form-field appearance="outline" fxFlex="20">
                                        <input class="delay" matInput type='number' [required]="required" min="1" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-select class="delay" [formControl]="message.controls['intervalType']"
                                            [required]="required">
                                            <mat-option [value]="timePeriodUnits.Days">Days</mat-option>
                                            <mat-option [value]="timePeriodUnits.Hours">Hours</mat-option>
                                            <mat-option [value]="timePeriodUnits.Minutes">Minutes</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-label class="cont-text">preceeding reminder.
                                    </mat-label>
                                </span>
                            </div>
                            <span class="arrow" *ngIf="i>0">
                                <svg width="11" height="45" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="35"
                                            x2="5.464285" y1="0" x1="5.464285" stroke-width="1.5" stroke="#000"
                                            fill="none" />
                                        <path stroke="#000" transform="rotate(-180 5.464285850524902,50.8858871459961) "
                                            id="svg_2"
                                            d="m0.75,74.082316l4.714286,-8.392863l4.714286,8.392863l-9.428572,0z"
                                            stroke-opacity="null" stroke-width="1.5" fill="#000000" />
                                    </g>
                                </svg>
                            </span>
                        </div>
                        <div fxLayoutAlign="center stretch" fxLayout="row" class="message-container">
                            <div fxFlex="10" class="message" fxLayoutAlign="center center" fxLayout="column">
                                <h1>Message {{i+1}}</h1>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around" fxFlex class="media-cards">
                                <mat-card class="media-card" [ngClass]="{'disabled': disabled}" fxFlex="40">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <mat-icon>email</mat-icon><span>Email</span>
                                            </div>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <irms-template-thumbnail [isReview]="isReview"
                                            [hasTemplate]="message?.emailSender" [toRsvp]="showRsvp"
                                            [thumbnail]="message?.emailImage" [addContentText]="'Add Email Content'"
                                            [templateType]="mediaType.Email" [templateId]="message?.id"
                                            [disabled]="disabled" [onlyEmitOnCreate]="false"
                                            (create)="emitCreate('email')">
                                        </irms-template-thumbnail>
                                        <div class="template-info" fxLayout="column" fxLayoutAlign="start stretch">
                                            <mat-label>Subject</mat-label>
                                            <div fxLayout="row" fxLayoutAlign="start stretch">
                                                <span irmsTextOverflow fxFlex="18vw">{{message?.emailSubject}}</span>
                                            </div>
                                        </div>
                                        <div class="template-info" fxLayout="column" fxLayoutAlign="start stretch">
                                            <mat-label>Sender</mat-label>
                                            <span irmsTextOverflow>{{message?.emailSender}}</span>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="media-card" [ngClass]="{'disabled': disabled}" fxFlex="40">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <mat-icon>sms</mat-icon><span>SMS</span>
                                            </div>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <irms-template-thumbnail [templateType]="mediaType.Sms"
                                            [hasTemplate]="message?.smsSender" [toRsvp]="showRsvp"
                                            [thumbnail]="message?.smsImage" [addContentText]="'Add SMS Content'"
                                            [templateId]="message?.id" [disabled]="disabled" [onlyEmitOnCreate]="false"
                                            (create)="emitCreate('sms')">
                                        </irms-template-thumbnail>
                                        <div class="template-info" fxLayout="column" fxLayoutAlign="start stretch">
                                            <mat-label>Sender</mat-label>
                                            <span irmsTextOverflow>{{message?.smsSender}}</span>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-flat-button class="secondary-button" (click)="addReminder()"
                        [irmsButtonLoader]="sectionService.loading">
                        <mat-icon>add</mat-icon><span>Add Reminder</span>
                    </button>
                </div>
            </div>
        </div>



        <div class="btn-group" fxLayout="row" fxLayoutAlign="start">
            <button mat-flat-button class="primary-button" #submitBtn
                [irmsButtonLoader]="sectionService.loading"><span>Save & Next</span></button>
        </div>
    </form>
</div>
<ng-template #loading>

</ng-template>