@import "../../../../../constants/variables.scss";

.custom-select-area, mat-dialog-actions {
    // width:600px;
    padding: 0px 15px 15px;
}

::ng-deep irms-generic-list {
    padding: 0px !important;
}

.lists-wrapper {
    height: 50vh;
    .panel-title {
        font-weight: 600;
        color: $primary-color;
    }

    .list-title {
        // text-align: left;
        height: 46px;
        flex-shrink: 0;
        position: relative;
        padding: 10px 24px;
        border-bottom: $theme-box-border;
        background-color: $secondary-light-color;
        h3 {
            font-weight: 600;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
    }

    .list {
        height: 33vh;
    }

    .list-container {
        border: $theme-box-border;
        margin-inline-end: 12px;
        border-radius: 6px;
        padding: 0px !important;

        &:hover {
            border-color: $accent-color;

            .list-title {
                border-color: $accent-color;
            }
        }
    }
}