<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center" [routerLink]="[data.id+'/summary']">
      <p class="list-detail-item" fxFlex><span class="name-link">{{data.title}}</span></p>
      <p class="list-detail-item" fxFlex>{{data.listName}}</p>
      <p class="list-detail-item" fxFlex>{{data.responses}}</p>
      <p class="list-detail-item" fxFlex>{{data.uniqueVisits}}</p>
    </div>
  </div>