<div fxLayout="column" fxLayoutAlign="start" class="view-only">
    <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto" *ngIf="!editFeatureMode">
        <button mat-icon-button aria-label="edit" class="edit-button" (click)="editForm()">
            <mat-icon>edit</mat-icon>
        </button>
    </span>
</div>
<form [formGroup]="featuresForm" fxLayout="column" *ngIf="featuresList" (submit)="updateFeatures()">
    <irms-feature-list [dataList]="featuresList" [selectable]="editFeatureMode" [readonly]="!editFeatureMode"
        (onCheckChange)="featuresChange($event)">
    </irms-feature-list>
    <mat-error
        *ngIf="featuresForm.controls['features'].hasError('required') && featuresForm.controls['features'].touched">
        Please select event features.
    </mat-error>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn" *ngIf="editFeatureMode">
            <button mat-button class="secondary-button" (click)="viewEventFeatures()">Back</button>
            <button mat-button [disabled]="featuresForm.invalid" class="primary-button"
                [irmsButtonLoader]="loading"><span>Save Changes</span></button>
        </div>
    </div>
</form>